<%= form_with(model: tarefa, local: true) do |form| %>
  <% if tarefa.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(tarefa.errors.count, "erro(s)") %> Tarefa não pôde ser salva!</h2>

      <ul>
      <% tarefa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :modulo_id %>
  <%= form.hidden_field :usuario_curso_id %>

  <div class="card-body">

    <% if not @tarefa.modulo_id %>

      <div class="form-group row">
        <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Módulo*</label>
        <div class="col-md-6">
          <%= form.collection_select(:modulo_id, Modulo.where(curso_id: current_usuario.curso_atual).order('nome'), :id, :nome, :prompt => true, class: "form-control") %>
        </div>
      </div>
    <% end %>

    <div class="form-group row">
        <label for="inputTexto" class="col-md-2 offset-md-2 col-form-label">Nome*</label>
        <div class="col-md-6">
        <%= form.text_field :nome, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
        <label for="inputTexto" class="col-md-2 offset-md-2 col-form-label">Descrição*</label>
        <div class="col-md-6">
        <%= form.cktext_area :descricao, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Pontuação*</label>
      <div class="col-md-6">
        <%= form.number_field :pontuacao, step: :any, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Data limite</label>
      <div class="col-md-6">
        <%= form.date_field :data_limite, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Hora limite</label>
      <div class="col-md-6">
        <%= form.time_field :hora_limite, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-2 offset-md-2" for="gridCheck1">Público</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :publico, class: "form-check-input" %> Sim
        </div>
      </div>        
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>
<% end %>
