    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Tarefa</th> 
            <th class="text-center">Pontuação máxima</th>
            <th class="text-center">Nota obtida</th>
            <th class="text-center">Realizada</th> 
            <th class="text-center">Avaliada</th>        
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= link_to tarefa.nome, tarefa %></td>
              <td><%= tarefa.missao.pontuacao %></td>
              <td><%= minha_nota(tarefa.id, @perfil.id) %></td>
              <td><%= enviada(tarefa.id, @perfil.id) %></td>
              <td><%= avaliada(tarefa.id, @perfil.id) %></td>
            </tr>
        </tbody>
      </table>
    </div>




        
        
      