<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th class="text-center">Aluno</th> 
        <th class="text-center">Pontuação máxima</th>
        <th class="text-center">Nota</th>
        <th class="text-center">Enviada</th> 
        <th class="text-center">Avaliada</th>        
      </tr>
    </thead>
    <tbody>
      <% UsuarioCurso.where("perfil = ? or not exists (select id from tarefa_alunos where tarefa_id = ?)", "Aluno", tarefa.id).each do |aluno| %>
        <tr>
          <td><%= link_to aluno.nickname, notas_aluno_url(aluno_id: aluno.id, curso_id: tarefa.modulo.curso.id) %></td>
          <td><%= tarefa.pontuacao %></td>
          <td><%= minha_nota(tarefa.id, @perfil.id) %></td>
          <td><%= enviada(tarefa.id, @perfil.id) %></td>
          <td><%= avaliada(tarefa.id, @perfil.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>