<div class="card">

  <div class="card-header">Missões - Tarefa </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Missão</th>
          <th class="text-center">Nome</th>
          <% if @perfil.perfil == 'Aluno' %>
            <th class="text-center">Enviar</th>
          <% end %>
          <th class="text-center" colspan="4">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @tarefas.each do |tarefa| %>
          <tr>
            <td><%= link_to tarefa.missao.nome, tarefa.missao %></td>
            <td><%= tarefa.nome %></td>
            <% if @perfil.perfil == 'Aluno' and no_prazo(tarefa) %>
              <td><%= link_to 'Enviar Tarefa', {controller: 'tarefa_alunos', action: 'new', tarefa_id: tarefa.id}, class: "btn btn-sm btn-danger"  %></td>
            <% end %>
            <% if can? :new, AvaliacaoTarefa %>
              <td><%= link_to 'Respostas', tarefa_alunos_path(id: tarefa.id) %></td>
            <% end %>
            <% if can? :show, Tarefa %>
              <td><%= link_to 'Visualizar', tarefa %></td>
            <% end %>
            <% if can? :edit, Tarefa %>
              <td><%= link_to 'Atualizar', edit_tarefa_path(tarefa) %></td>
            <% end %>
            <% if can? :destroy, Tarefa %>
              <td><%= link_to 'Excluir', tarefa, method: :delete, data: { confirm: 'Deseja realmente excluir a Tarefa?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @tarefas %></span>

  <br>
  <% if can? :new, Tarefa %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Tarefa', {controller: 'tarefas', action: 'new'}, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>
</div>
