<div class="card">
  <div class="card-header">Explicações</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Módulo</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @explicacoes.each do |explicacao| %>
          <tr>
            <td><%= explicacao.nome %></td>
            <td class="text-center"><%= link_to explicacao.conteudo.nome, explicacao.conteudo %></td>
            <% if can? :show, Explicacao %>
              <td><%= link_to 'Visualizar', explicacao %></td>
            <% end %>
            <% if can? :edit, Explicacao %>
              <td><%= link_to 'Atualizar', edit_explicacao_path(explicacao) %></td>
            <% end %>
            <% if can? :destroy, Explicacao %>
              <td><%= link_to 'Excluir', explicacao, method: :delete, data: { confirm: 'Deseja realmente excluir a Explicação?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @explicacoes %></span>

</div>