<h2>Explicação</h2>

<ul class="list-group">
  <li class="list-group-item"><b>Nome:</b> <%= @explicacao.nome %></li>
  <li class="list-group-item"><b>Descrição:</b> <%= @explicacao.descricao %></li>
  <li class="list-group-item"><b>Áudio:</b> <%= @explicacao.audio %></li>  
  <li class="list-group-item"><b>Cadastrada em:</b> <%= @explicacao.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>  
  <li class="list-group-item"><b>Conteúdo:</b> <%= @explicacao.conteudo.nome %></li>      
</ul>

<br>

<div class="text-center">
  <% if can? :edit, Explicacao %>
    <%= link_to 'Atualizar', edit_explicacao_path(@explicacao), class: "btn btn-md btn-primary" %>
  <% end %>
  <%= link_to 'Voltar', explicacoes_path, class: "btn btn-md btn-danger" %>
</div>
