    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Quiz</th> 
            <th class="text-center">Pontuação máxima</th>
            <th class="text-center">Nota obtida</th>
            <th class="text-center">Realizada</th> 
            <th class="text-center">Avaliada</th>        
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= quiz.nome %></td>
              <td><%= formata_pontos(quiz.missao.pontuacao) %></td>
              <td><%= minha_nota_quiz(quiz.id, @perfil.id) %></td>
              <td><%= respondido_quiz(quiz.id, @perfil.id) %></td>
              <td><%= respondido_quiz(quiz.id, @perfil.id) %></td>
            </tr>
        </tbody>
      </table>
    </div>




        
        
      