<%= form_with(model: artefato_aluno, local: true) do |form| %>
  <% if artefato_aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artefato_aluno.errors.count, "error") %> prohibited this artefato_aluno from being saved:</h2>

      <ul>
      <% artefato_aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_curso_id %>
    <%= form.text_field :usuario_curso_id %>
  </div>

  <div class="field">
    <%= form.label :artefatos_id %>
    <%= form.text_field :artefatos_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
