<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario curso:</strong>
  <%= @artefato_aluno.usuario_curso %>
</p>

<p>
  <strong>Artefatos:</strong>
  <%= @artefato_aluno.artefatos %>
</p>

<%= link_to 'Edit', edit_artefato_aluno_path(@artefato_aluno) %> |
<%= link_to 'Back', artefatos_alunos_path %>
