<div class="card">
	<div class="card-header">Mensagens</div>

	<% @conversas.each do |conversa| %>

		<div class="card">

			<div class="card-header conversa bg-primary text-left">Assunto: <%= conversa.assunto %></div>
			 	<div class="card-title text-dark conversa bg-light">
			 	   <b>De:</b> <%= conversa.usuario_curso.nickname %>
			 	<div class="card-title text-dark conversa bg-light">
			 	   <b>Para:</b> <%= conversa.destinatario.nickname %>
			 	</div>
			 	<div class="card-text text-dark conversa bg-light">
			 		<b>Mensagem:</b> 
			 	</div>
			 	<div class="card-text bg-white text-dark conversa border bg-light border-primary mensagem">
			 		<%= conversa.mensagem.to_s.html_safe %>
				</div>
			</div>
			<div><br></div>
			<div class="card-body bg-dark text-light conversa">
				<b>Enviada:</b> <%= conversa.created_at.strftime("%d/%m/%Y - %H:%M:%S") %> 
				<% if can? :new, Conversa and @perfil.id == conversa.destinatario_id %>
					<%= link_to "Responder", {controller: 'conversas', action: 'new', conversa_id: conversa.id, destinatario_id: conversa.usuario_curso.id }, class: "btn btn-danger btn-sm float-right" %>
				<% end %>
			</div>
			
		</div>
	<% end %>

	<div class="card-footer text-muted">
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>
</div>