<div class="card">
  <div class="card-header">Mensagens Alunos e Professores</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th colspan="2" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% if @perfil.perfil == 'Aluno' %>
          <% @professores.each do |professor| %>
            <tr>
              <td><%= professor.nickname %></td>
              <td><%= link_to 'Enviar Mensagem', {controller: 'conversas', action: 'new', destinatario_id: professor.id} %></td>
              <td>
                <% if can? :show, Conversa %>
                  <%= link_to 'Ver mensagens enviadas/recebidas', {controller: 'conversas', action: 'conversas_professor', professor_id: professor.id} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <% @alunos.each do |alunos| %>
            <tr>
              <td><%= professor.nickname %></td>
              <td><%= link_to 'Enviar Mensagem', {controller: 'conversas', action: 'new', destinatario_id: professor.id} %></td>
              <td>
                <% if can? :show, Conversa %>
                  <%= link_to 'Ver mensagens enviadas/recebidas', {controller: 'conversas', action: 'conversas_professor', professor_id: professor.id} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>