<%= form_with(model: forum, local: true) do |form| %>
  <% if forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form.hidden_field :curso_id %>
  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

<%= @current_usuario_id %>
  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
