<p id="notice"><%= notice %></p>

<h1>Salas Chats</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Usuario</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas_chats.each do |sala_chat| %>
      <tr>
        <td><%= sala_chat.nome %></td>
        <td><%= sala_chat.usuario %></td>
        <td><%= sala_chat.curso %></td>
        <td><%= link_to 'Show', sala_chat %></td>
        <td><%= link_to 'Edit', edit_sala_chat_path(sala_chat) %></td>
        <td><%= link_to 'Destroy', sala_chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sala Chat', new_sala_chat_path %>
