<%= form_with(model: faq, local: true) do |form| %>
  <% if faq.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(faq.errors.count, "erro(s)") %> FAQ não pôde ser salva!</h2>

      <ul>
      <% faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Pergunta*</label>
      <div class="col-md-6">
        <%= form.text_field :pergunta, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Resposta*</label>
      <div class="col-md-6">
        <%= form.cktext_area :resposta, class: "form-control"%>
      </div>
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', faqs_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
