<div class="card">
  <div class="card-header">FAQs</div>

  <%= search_form_for @q do |f| %>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Pergunta</span>
            </div>
            <%= f.search_field :pergunta_cont, :class => 'form-control'  %>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Resposta</span>
            </div>
            <%= f.search_field :resposta_cont, :class => 'form-control'  %>
          </div>
        </div>
      </div>     
    </div>
    
    <div class="text-center">
      <button class="btn btn-primary link search-btn" ><% submit_tag "" %>Pesquisar</button>
    </div>
  <% end %>

  <% if !@faqs.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Pergunta</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @faqs.each do |faq| %>
            <tr>
              <td><%= faq.pergunta %></td>
              <td><%= link_to 'Visualizar', faq %></td>
              <td>
                <% if can? :edit, Faq %>
                  <%= link_to 'Atualizar', edit_faq_path(faq) %>
                <% end %>
              <td>
                <% if can? :Destroy, Faq %>
                  <%= link_to 'Excluir', faq, method: :delete, data: { confirm: 'Deseja realmente excluir a FAQ?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <br>

  <div class="card-footer text-muted">
    <% if can? :new, Faq %>
      <%= link_to 'Cadastrar FAQ', new_faq_path, class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar', controle_gestor_path, class: "btn btn-md btn-secondary" %>
  </div>  

</div>