<div class="card">

  <div class="card-header">Atualizar dados</div> 

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group row">
        <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Nome</label>
        <div class="col-md-6">
          <%= f.text_field :nome, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail" class="col-md-2 offset-md-2 col-form-label">E-mail</label>
        <div class="col-md-6">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputDataNascimento" class="col-md-2 offset-md-2 col-form-label">Data de nascimento</label>
        <div class="col-md-6">
          <%= f.date_field :data_nascimento, class: "form-control", id: "data_nascimento", value: @usuario.data_nascimento.strftime('%Y-%m-%d') %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputSexo" class="col-md-2 offset-md-2 col-form-label">Sexo</label>
        <div class="col-md-6">
          <%= f.select :sexo,  options_for_select([["Feminino", "Feminino"], ["Masculino", "Masculino"]]), class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputSenha" class="col-md-2 offset-md-2 col-form-label">Senha</label>
        <div class="col-md-6">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>  
        </div>
      </div>

      <div class="form-group row">
        <label for="inputConfirmarSenha" class="col-md-2 offset-md-2 col-form-label">Confirmar senha</label>
        <div class="col-md-6">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputSenhaAtual" class="col-md-2 offset-md-2 col-form-label">Senha atual*</label>
        <div class="col-md-6">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Necessária para confirmar as mudanças!" %> 
        </div>
      </div>

      <div class="text-center">
        <%= f.submit "Atualizar", class: "btn btn-md btn-primary" %>
        <%= link_to "Voltar", :back, class: "btn btn-md btn-secondary" %>
      </div>
    <% end %>

  </div>
</div>
