<div class="col-md-4 offset-md-4 col-sm-10 offset-sm-1">


  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"> 
      </div>
    </div>
  </div>

  <div class="text-center mb-4">
    <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
    <h1 class="agile">AGILE</h1>
  </div>  

  <div class="card card-login mx-auto mt-6">
    <div class="card-header">Cadastro</div> 

    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <label for="inputNome">Nome</label>
          <%= f.text_field :nome, autofocus: true, class: "form-control" %>    
        </div>

        <div class="form-group">
          <label for="inputCPF">CPF</label>
          <%= f.text_field :cpf, id: "cpf", class: "form-control" %>    
        </div>

        <div class="form-group">
          <label for="inputEmail">E-mail</label>
          <%= f.email_field :email, class: "form-control" %>    
        </div>

        <div class="form-group">
          <label for="inputDataNascimento">Data de nascimento</label>
          <%= f.date_field :data_nascimento, class: "form-control", id: "data" %>    
        </div>

        <div class="form-group">
          <label for="inputSexo">Sexo</label>
          <%= f.select :sexo,  options_for_select([["Feminino", "Feminino"], ["Masculino", "Masculino"]]), class: "form-control" %>    
        </div>

        <div class="form-group">
          <label for="inputSenha">Senha</label>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>    
        </div>

        <div class="form-group">
          <label for="inputConfirmarSenha">Confirmar senha</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>    
        </div>

        <div class="form-group row"> 
          <div class="col-md-12 ">
            <%= link_to 'Termo de Compromisso', termo_compromisso_path , remote: true, data: { target: '#uploadpost', toggle: 'modal' }, class: 'nav-link text-danger text-center'%>
            <div class="form-check">
              <%= f.check_box :termo_compromisso, class: "form-check-input" %> <b>Declaro que li e concordo com o Termo de Compromisso
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar", class: "btn btn-lg btn-primary btn-block" %>
          <%= render "usuarios/shared/links" %>
        </div>
      <% end %>
    </div> 

  </div>
</div>