<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= wicked_pdf_stylesheet_link_tag "pdf" %>



<div class="borda">

	<p class="agile">AGILE</p>
	<p class="certificado">Certificado</p>

	<p class="texto"> Certificamos que o(a) aluno(a) <%= @curso_certificado.usuario.nome %>, CPF: <%= @curso_certificado.usuario.cpf %>, foi aprovado(a) no curso <%= @curso_certificado.curso.nome %>, do AVA AGILE, com carga horária de <%= @curso_certificado.curso.carga_horaria %> h, concluído em <%= @curso_certificado.data_finalizacao.strftime("%d/%m/%Y") %>. </p>

	<p class="data">Campos dos Goytacazes, <%= l(@curso_certificado.data_finalizacao, format: "%d de %B de %Y") %>.</p>

	<p class="codigo-validacao">
	  <strong>Código de valicação do certificado: </strong>
	  <%= @curso_certificado.hash_validacao %>
	</p>
	<footer>
		<p class="rodape"><%= wicked_pdf_image_tag 'coelho2.png', :width=>"200", :height=>"50" %></p>
		<p class="rodape">AGILE</p>
	</footer>
</div>

