<div class="card">

  <div class="card-header">Informe o código de validação do certificado do curso</div>
    <div><br></div>
    <div class="text-center mb-4">
      <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
      <h1>AGILE</h1>
    </div>

    <%= form_tag request.path, :method => 'get' do %>

      <div class="form-group row">
        <label for="inputNome" class="col-md-3 offset-md-4 col-form-label">Código de validação do certificado*</label>
        <div class="col-md-5">
          <%= text_field_tag :codigo_validacao, params[:codigo_validacao] %>
        </div>
      </div>

      <div class="text-center">
        <%= submit_tag 'Validar certificado!', :class =>"btn btn-primary link" %>
      </div>
          
    <% end %>
    
    <div class="card-footer text-muted">
      <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
    </div>

</div>