<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario curso:</strong>
  <%= @badge_aluno.usuario_curso %>
</p>

<p>
  <strong>Badges:</strong>
  <%= @badge_aluno.badges %>
</p>

<%= link_to 'Edit', edit_badge_aluno_path(@badge_aluno) %> |
<%= link_to 'Back', badges_alunos_path %>
