<div class="card-body">
<%= form_with(model: conteudo, local: true) do |form| %>
  <% if conteudo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(conteudo.errors.count, "erro(s)") %> - Conteúdo não pôde ser salvo!</h2>

      <ul>
      <% conteudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :curso_id %>

  <div class="form-group row">
    <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Nome*</label>
    <div class="col-md-6">
      <%= form.text_field :nome, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
      <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Descrição*</label>
      <div class="col-md-6">
        <%= form.text_area :descricao, class: "form-control" %> 
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', conteudos_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
</div>