<%= form_with(model: conteudo, local: true) do |form| %>
  <% if conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conteudo.errors.count, "erro(s)") %> prohibited this conteudo from being saved:</h2>

      <ul>
      <% conteudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputEmail">Nome*</label>
    <%= form.text_field :nome, autofocus: true, class: "form-control" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Descrição</label>
    <%= form.text_area :descricao, class: "form-control" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Curso</label>
    <%= form.collection_select(:curso_id, Curso.where(ativo: true).order('nome'), :id, :nome, :prompt => true, class: "form-control")%>    
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <br>
<% end %>
