<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario %>
</p>

<p>
  <strong>Forum:</strong>
  <%= @comentario.forum %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @comentario.texto %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
