<%= form_with(model: grupo_curso, local: true) do |form| %>
  <% if grupo_curso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(grupo_curso.errors.count, "erro(s)") %> - Grupo do Curso não pôde ser salvo!</h2>

      <ul>
      <% grupo_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">

    <%= form.hidden_field :curso_id %>

    <div class="form-group row">
      <% Grupo.where(ativo: true).each do |grupo| %>      
        <div class="col-md-4 text-center">
          <p><%= image_tag grupo.imagem.variant(resize: "200x200"), class: "img-responsive img-thumbnail" %></p>
          <p><%= form.radio_button :grupo_id, grupo.id %>
          <b><%= grupo.nome %></b> - Perfil: <%= grupo.perfil %></p>
          <p><%= link_to 'Ver Avatares', visualizar_avatares_path(grupo_id: grupo.id) %></p>
      </div>
      <% end %>      
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-4 col-form-label">Nome da Equipe no curso*</label>
      <div class="col-md-8">
        <%= form.text_field :nome_curso, autofocus: true, class: "form-control", required: true %>
      </div>
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', grupos_cursos_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
