<div class="card">
  <div class="card-header">Equipes do Curso</div>

  <% if !@grupos_cursos.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Perfil</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @grupos_cursos.each do |grupo_curso| %>
            <tr>
              <td><%= grupo_curso.nome_curso %></td>
              <td><%= grupo_curso.grupo.perfil %></td>
              <% if can? :show, GrupoCurso %>
                <td><%= link_to 'Visualizar', grupo_curso %></td>
              <% end %>
              <td>
                <% if can? :edit, GrupoCurso %>
                  <%= link_to 'Atualizar', edit_grupo_curso_path(grupo_curso) %>
                <% else%> - 
                <% end %>
              <td>
                <% if can? :Destroy, GrupoCurso %>
                  <%= link_to 'Excluir', grupo_curso, method: :delete, data: { confirm: 'Deseja realmente excluir a Equipe do Curso?' } %>
                <% else%> - 
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @grupos_cursos %></span>
  <% end %>

  <br>

  <% if can? :new, GrupoCurso %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Equipe no Curso', new_grupo_curso_path, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>

</div>