<% if @perfil.grupo_curso %>
  <div class="card">
    <div class="card-header">
      <p>Equipe <%= @perfil.grupo_curso.nome_curso %></p>
      <p><%= image_tag @perfil.grupo_curso.grupo.imagem.variant(resize: "400x400"), class: 'img-responsive img-thumbnail' %></p>
    </div>

    <div class="alert alert-success">
      <p>Pontuação Total da Equipe: <%= @perfil.grupo_curso.pontuacao_total %></p>
      <p>Pontuação Média da Equipe: <%= @perfil.grupo_curso.pontuacao_media %></p>
    </div>

    <div class="card-header bg-primary">Membros da Equipe</div>
    <div class="container-fluid">
      <div class="row">
        <% @lista_participantes.each do |participante| %>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-200 curso">
              <div class="card-body">
                <% if participante.avatar %>
                  <%= image_tag participante.avatar.imagem, class: "img-fluid img-responsive" %>
                <% else %>
                  <%= image_tag "missing.png", class: "img-responsive img-thumbnail" %>
                <% end %>
              </div>
              <div class="card-footer bg-primary text-white">
                <div>
                  <ul class="list-unstyled components">
                  <li><%= link_to participante.nickname, participante, class: "text-white" %></li>
                  <li><b>XP:</b> <%= participante.pontos_experiencia %></li>
                  <li><b><%= participante.nivel.nome %></b></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>

  <div class="alert alert-danger" role="alert">
    Você ainda não faz parte de nenhuma Equipe. Em caso de dúvidas, entre em contato com o Professor do curso.
  </div>

<% end %>