<div class="card">

  <div class="card-header">Equipe</div>


  <div class="card-body">

	    <div class="row">
	      	<div class="col-lg-4">
	        	<div class="input-group mb-3">
	        		<%= image_tag @grupo_curso.grupo.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
	       		</div>
	      	</div>

	      	<div class="col-lg-8">
		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Nome da equipe no curso: </label>          
			          	<%= @grupo_curso.nome_curso %>
		        	</p>
		        </div>

		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Nome padrão da equipe: </label>          
			          	<%= @grupo_curso.grupo.nome %>
		        	</p>
		        </div>

		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Cadastrado em: </label>          
			          	<%= @grupo_curso.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
		        	</p>
		        </div>
		    </div>
		</div>
	</div>

	<br>

	<% if !@lista_participantes.empty? %>
	  <div class="card">
	    <div><br></div>
	    <div class="card-header bg-primary">Membros da Equipe</div>
	    <div class="container-fluid">
	      <div class="row">
	        <% @lista_participantes.each do |participante| %>
	          <div class="col-xl-3 col-sm-6 mb-3">
	            <div class="card text-white o-hidden h-200 curso">
	              <div class="card-body">
	              	<% if participante.avatar %>
	                	<%= image_tag participante.avatar.imagem.variant(resize: "200x200"), class: "img-responsive" %>
	                <% else %>
	                	<p class="list-group-item text-center"><%= image_tag "missing.png", class: "img-responsive img-thumbnail" %></p>
	                <% end %>
	              </div>
	              <div class="card-footer bg-primary text-white">
	                <div><%= link_to participante.nickname, participante, class: "text-white" %></div>
	              </div>
	            </div>
	          </div>
	        <% end %>
	      </div>
	    </div>
	  </div>
	<% end %>

	<div class="card-footer text-muted">
	  <% if can? :edit, GrupoCurso %>
	    <%= link_to 'Atualizar', edit_grupo_curso_path(@grupo_curso), class: "btn btn-md btn-primary" %>
	  <% end %>
	  <%= link_to 'Voltar', grupos_cursos_path, class: "btn btn-md btn-secondary" %>
	</div>
</div>
