<div class="card">

  <div class="card-header">Grupo do Curso</div>


  <div class="card-body">

	    <div class="row">
	      	<div class="col-lg-4">
	        	<div class="input-group mb-3">
	        		<%= image_tag @grupo_curso.grupo.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
	       		</div>
	      	</div>

	      	<div class="col-lg-8">
		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Nome do grupo no curso: </label>          
			          	<%= @grupo_curso.nome_curso %>
		        	</p>
		        </div>

		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Nome padrão do grupo: </label>          
			          	<%= @grupo_curso.grupo.nome %>
		        	</p>
		        </div>

		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Cadastrado em: </label>          
			          	<%= @grupo_curso.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
		        	</p>
		        </div>
		    </div>
		</div>
	</div>

	<br>

	<div class="card-footer text-muted">
	  <% if can? :edit, GrupoCurso %>
	    <%= link_to 'Atualizar', edit_grupo_curso_path(@grupo_curso), class: "btn btn-md btn-primary" %>
	  <% end %>
	  <%= link_to 'Voltar', grupos_cursos_path, class: "btn btn-md btn-secondary" %>
	</div>
</div>
