<div id=modulo_ordenacao_<%= modulo_ordenacao.id %> class="modulo-item">   
    <%= link_to modulo_ordenacao.objeto do %>
      <i class = "fa fa-question-circle-o text-purple"> <%= modulo_ordenacao.objeto.titulo %></i>
    <% end %>
	<% if can? :edit, Forum %>
	<%= link_to '', edit_forum_path(modulo_ordenacao.objeto), class: "fa fa-edit" %>
	<% end %>
	<% if can? :destroy, Forum %>
	<%= link_to '', modulo_ordenacao.objeto, method: :delete, data: { confirm: 'Deseja realmente excluir o Fórum?' }, class: "fa fa-trash" %>
	<% end %>
</div>
    
