<div class="card">
  <div class="card-header">Fóruns do Curso</div>

  <% if !@foruns.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Título</th>
            <th class="text-center">Módulo</th>
            <th class="text-center">Ativo</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @foruns.each do |forum| %>
            <tr>
              <td><%= forum.titulo %></td>
              <% if forum.modulo %>
                <td><%= forum.modulo.nome %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <td><%= forum.ativo? ? 'Sim' : 'Não' %></td>
              <td><%= link_to 'Acessar', forum, {class: 'btn btn-sm btn-success'}  %></td>
              <% if can? :edit, Forum %>
                <td><%= link_to 'Atualizar', edit_forum_path(forum) %></td>
              <% end %>
              <% if can? :Destroy, Forum %>
                <td><%= link_to 'Excluir', forum, method: :delete, data: { confirm: 'Deseja realmente excluir o Fórum do curso?' } %></td> 
              <% end %>   
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @foruns %></span>
  <% end %>

</div>

