<div class="card">

 	<div class="card-header">Fórum: <%= @forum.titulo %></div>

 	<div class="card-header bg-info text-left">
	    <%= image_tag @forum.usuario_curso.avatar.imagem.url(:thumb), class: "img-responsive img-thumbnail" %> Criado por: <%= @forum.usuario_curso.nickname %>
	    <% if can? :edit, Forum %>
      		<%= link_to  '', edit_forum_path(@forum), class: "fa fa-pencil text-light" %>
    	<% end %>
    	<% if can? :destroy, Forum %>
      		<%= link_to  '', @forum, method: :delete, data: { confirm: 'Deseja realmente realmente remover o Fórum?'}, class: "fa fa-trash text-light", remote: true %>
    	<% end %>
	</div>
	<div class="card-body bg-dark">
		<p class="card-text"><b>Última atualização:</b> <%= @forum.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></p>
		<p class="card-text"><%= @forum.descricao.to_s.html_safe %></p>
	</div>
	
	<div id="comentario"><%= render 'comentarios/comentario', :collection => @comentarios %></div>

	<div id="task-form" style="display:none;"></div>

	<% if can? :new, Comentario %>
		<div class="card-footer text-muted">
			<%= link_to "Comentar", {controller: 'comentarios', action: 'new', :forum_id => @forum.id, remote: true}, class: "btn btn-warning" %>
		</div>
	<% end %>

</div>
