<%= form_with(model: usuario_curso, local: true) do |form| %>
  <% if usuario_curso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(usuario_curso.errors.count, "erro(s)") %> - Usuário não pôde ser cadastrado no curso!</h2>

      <ul>
      <% usuario_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :curso_id %>

  <div class="card-body">  
    <% if @perfil.perfil == "Professor" %>

      <div class="form-group row">
        <label for="inputNome" class="col-md-3 col-form-label">Perfil*</label>
        <div class="col-md-9">
          <%= form.select :perfil,  options_for_select([["Aluno", "Aluno"], ["Professor", "Professor"]], form.object.perfil), class: "form-control" %>
        </div>
      </div>

      <% if @usuario_curso.new_record? %>
        <div class="form-group row">
          <label for="inputNome" class="col-md-3 col-form-label">Usuário</label>
          <div class="col-md-9">
            <%= form.collection_select(:usuario_id, Usuario.where(ativo: true).order('nome'), :id, :nome, {:prompt => true}, {class: "selecionar"})%>
          </div>
        </div>
      <% else %>
        <div class="form-group row">
          <label for="inputNome" class="col-md-3 col-form-label">Usuário</label>
          <div class="col-md-9">
            <%= @usuario_curso.usuario.nome %>
          </div>
        </div>
      <% end %>

    <% end %>

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Nickname no curso*</label>
      <div class="col-md-9">
        <%= form.text_field :nickname, class: "form-control" %> 
      </div>
    </div>

  </div>
  
  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', @usuario_curso, class: "btn btn-md btn-secondary" %>
  </div>
<% end %>
