<%= form_with(model: usuario_curso, local: true) do |form| %>
  <% if usuario_curso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(usuario_curso.errors.count, "erro(s)") %> - Usuário não pôde ser cadastrado no curso!</h2>

      <ul>
      <% usuario_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :curso_id %>

  
  <% if current_usuario.curso_atual.usuario_curso.first.perfil == "Professor" %>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Perfil*</label>
      <div class="col-md-6">
        <%= form.select :perfil,  options_for_select([["Aluno", "Aluno"], ["Professor", "Professor"]]), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Usuário*</label>
      <div class="col-md-6">
        <%= form.collection_select(:usuario_id, Usuario.all.order('nome'), :id, :nome, :prompt => true, class: "form-control")%>
      </div>
    </div>
    
  <% end %>

  <div class="form-group row">
    <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Apelido*</label>
    <div class="col-md-6">
      <%= form.text_field :nickname, class: "form-control" %> 
    </div>
  </div>

  <div class="form-group row">
    <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Avatar</label>
    <div class="col-md-6">
      <% Avatar.where(tema_curso_id: current_usuario.curso_atual.tema_curso_id, perfil: @perfil.perfil).each do |avatar| %>
        <%= form.radio_button :avatar_id, avatar.id %>
        <%= avatar.nome %>
        <%= image_tag avatar.imagem.url(:thumb), class: "img-responsive img-thumbnail" %>
      <% end %>      
    </div>
  </div>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', usuario_curso_index_path, class: "btn btn-md btn-secondary" %>
  </div>

  <br>
<% end %>
