<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header card-header">
      <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Minhas Conquistas</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="text-white">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="card-header bg-primary">Nível</div>

      <div class="row">

        <div class="col-lg-3">
          <div class="input-group mb-3">
            <% if @usuario_curso.avatar %>  
              <%= image_tag @usuario_curso.avatar.imagem.variant(resize: "200x200"), class: "img-responsive img-thumbnail" %>
            <% else %>
              <%= image_tag "missing.png", class: "img-responsive img-thumbnail" %>
            <% end %>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="input-group">
            <p><label>Nickname (apelido): </label>          
            <%= @usuario_curso.nickname %></p>
          </div>

          <div class="input-group">
            <p><label>Pontos de experiência (XP): </label>          
            <%= formata_pontos(@usuario_curso.pontos_experiencia) %></p>
          </div>

          <div class="input-group">
            <p><label>Aproveitamento das Missões: </label>          
            <%= formata_pontos(@usuario_curso.porcentagem_aprovacao) %>%</p>
          </div>

          <% if @usuario_curso.grupo_curso %>
            <div class="input-group">
              <p><label>Equipe: </label>          
              <%= @usuario_curso.grupo_curso.nome_curso %></p>
            </div>
          <% end %>
            
        </div>

        <div class="col-lg-3">
          <div class="input-group mb-2">
            <%= image_tag @usuario_curso.nivel.imagem.variant(resize: "150x150"), class: "img-responsive img-thumbnail text-center" %>
          </div>
          <div class="input-group">
            <p><label><%= @usuario_curso.nivel.nome %></label></p>
          </div>
        </div>    
    
      </div>

      <% if !@badges.empty? %>
      
        <div class="card-header bg-primary">Badges</div>

        <div class="row">
          <% @badges.each do |badge| %>
            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white o-hidden h-200 curso">
                <div class="card-body">
                  <%= image_tag badge.badge.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
                </div>
                <div class="card-footer bg-info text-white">
                  <div><b>Badge:</b> <%= badge.badge.nome %></div>
                  <div><b>Conquista:</b> <%= badge.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
   
      <% end %>

      <% if !@artefatos.empty? %>

        <div class="card-header bg-primary">Artefatos</div>

        <div class="row">
          <% @badges.each do |badge| %>
            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white o-hidden h-200 curso">
                <div class="card-body">
                  <%= image_tag artefato.artefato.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
                </div>
                <div class="card-footer bg-info text-white">
                  <div><b>Artefato:</b> <%= artefato.artefato.nome %></div>
                  <div><b>Conquista:</b> <%= artefato.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>
