<div class="card">
    <div class="card-header">Escolher Equipe</div> 
  <%= form_with(model: @usuario_curso, local: true) do |form| %>
    <% if @usuario_curso.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@usuario_curso.errors.count, "erro(s)") %> - Equipe não pode ser atualizada!</h2>

        <ul>
        <% @usuario_curso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="alert alert-danger">Atenção! A Equipe só pode ser escolhida uma única vez! Pense bem antes de escolher, pois não será possível alteração. </div>
    <div class="card-body">

      <div class="form-group row">
        <% GrupoCurso.joins(:grupo).where('curso_id = ? and grupos.perfil = ?', current_usuario.curso_atual, @perfil.perfil).order('nome_curso').each do |grupo_curso| %>
          <div class="col-md-4">
            <p><%= image_tag grupo_curso.grupo.imagem.variant(resize: "200x200"), class: "img-responsive img-thumbnail" %></p>
            <p><%= form.radio_button :grupo_curso_id, grupo_curso.id %>
               <%= grupo_curso.nome_curso %></p>
          </div>
        <% end %>
      </div>

    </div>
    
    <div class="card-footer text-muted">
      <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
      <%= link_to 'Voltar', @usuario_curso, class: "btn btn-md btn-secondary" %>
    </div>
  <% end %>
</div>