<div class="card">
  <div class="card-header">Usuários do Curso</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <% if can? :new, UsuarioCurso %>
            <th class="text-center">Nome</th>
          <% end %>
          <th class="text-center">Apelido</th>
          <th class="text-center">Perfil</th>
          <th class="text-center">Curso</th>
          <% if can? :new, UsuarioCurso %>
            <th colspan="3" class="text-center">Opções</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @usuario_curso.each do |usuario_curso| %>
          <tr>
            <td><%= usuario_curso.usuario.nome %></td>
            <% if can? :new, UsuarioCurso %>
              <td class="text-center"><%= usuario_curso.nickname %></td>
            <% end %>
            <td class="text-center"><%= usuario_curso.perfil %></td>
            <td class="text-center"><%= usuario_curso.curso.nome %></td>
            <% if can? :new, UsuarioCurso %>
              <td><%= link_to 'Visualizar', usuario_curso %></td>
            <% end %>
            <% if can? :new, UsuarioCurso %>
              <td><%= link_to 'Atualizar', edit_usuario_curso_path(usuario_curso) %></td>
            <% end %>
            <% if can? :destroy, UsuarioCurso %>
              <td><%= link_to 'Excluir', usuario_curso, method: :delete, data: { confirm: 'Deseja realmente excluir o Usuário do Curso?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @usuario_curso %></span>

  <br>

  <% if can? :new, UsuarioCurso %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Usuário no Curso', {controller: 'usuario_curso', action: 'new', curso_id: @current_usuario.curso_atual_id}, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>

</div>
