<div class="card">
  <div class="card-header">Participantes do Curso</div>

  <%= search_form_for @q do |f| %>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-5">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nickname</span>
            </div>
            <%= f.search_field :nickname_cont, :class => 'form-control'  %>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Perfil</span>
            </div>
            <%= f.select :perfil_cont,  options_from_collection_for_select(UsuarioCurso.all.to_a.uniq{ |o| o.perfil}, "perfil", "perfil", params[:perfil]), :include_blank => "Todos", :class => 'form-control', id: 'custom-select' %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Equipe</span>
            </div>
            <%= f.select :grupo_curso_id_eq,   options_from_collection_for_select(GrupoCurso.where(curso_id: @perfil.curso.id), "id", "nome_curso", params[:grupo_curso_id]), :include_blank => "Todos", :class => 'form-control', id: 'custom-select' %>
          </div>
        </div>

      </div>     
    </div>
    <div class="text-center">
      <button class="btn btn-primary link search-btn" ><% submit_tag "" %>Pesquisar</button>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Nickname</th>
          <th class="text-center">Avatar</th>
          <th class="text-center">Perfil</th>
          <th colspan="4" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @usuario_curso.each do |usuario_curso| %>
          <tr>
            <td><%= usuario_curso.nickname %></td>
            <% if usuario_curso.avatar %>
              <td><%= image_tag usuario_curso.avatar.imagem.variant(resize: "100x100"), class: "img-responsive" %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <td class="text-center"><%= usuario_curso.perfil %></td>
            <% if can? :show, UsuarioCurso %>
              <td><%= link_to 'Visualizar', usuario_curso %></td>
            <% end %>
            <% if can? :new, UsuarioCurso %>
              <td><%= link_to 'Atualizar', edit_usuario_curso_path(usuario_curso) %></td>
              <% if usuario_curso.perfil == "Aluno" %>
                <td><%= link_to 'Pendências', pendencias_path(id: usuario_curso.id), class: "btn btn-sm btn-warning" %></td>
              <% end %>
            <% end %>
            <% if can? :destroy, UsuarioCurso and usuario_curso.status_curso != 'Inscrição Cancelada' and @perfil.id != usuario_curso.id %>
              <td><%= link_to 'Cancelar inscrição', cancelar_inscricao_path(id: usuario_curso.id), class: "btn btn-sm btn-danger", data: { confirm: 'Deseja realmente cancelar a Inscrição deste usuário no Curso?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @usuario_curso %></span>

  <br>

  <% if can? :new, UsuarioCurso %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Usuário no Curso', {controller: 'usuario_curso', action: 'new', curso_id: @current_usuario.curso_atual_id}, class: "btn btn-md btn-success" %>
    </div>
  <% end %>

</div>
