<div class="card">

  <div class="card-header">Meu perfil</div>

  <ul class="list-group">
    <%if @usuario_curso.avatar %>
    <li class="list-group-item"><%= image_tag @usuario_curso.avatar.imagem.url(:thumb), class: "img-responsive img-thumbnail" %></li>
    <% else %>
      <li class="list-group-item"><%= image_tag "missing.png", class: "img-responsive img-thumbnail" %></li>
    <% end %>
    <li class="list-group-item"><b>Nome:</b> <%= @usuario_curso.usuario.nome %></li>
    <li class="list-group-item"><b>Curso:</b> <%= @usuario_curso.curso.nome %></li>
    <li class="list-group-item"><b>Apelido neste curso:</b> <%= @usuario_curso.nickname %></li>
    <% if @usuario_curso.avatar %>
      <li class="list-group-item"><b>Avatar:</b> <%= @usuario_curso.avatar.nome %></li>
    <% end %>
    <li class="list-group-item"><b>Perfil:</b> <%= @usuario_curso.perfil %></li>  
    <li class="list-group-item"><b>Cadastro no curso:</b> <%= @usuario_curso.created_at.strftime("%d/%m/%Y") %></li> 

  </ul>

  <br>
  <div class="text-center">
    <% if can? :edit, UsuarioCurso %>
      <%= link_to 'Atualizar', edit_usuario_curso_path(@usuario_curso), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>

</div>