<div class="card">

  <div class="card-header">Minhas Notas </div>

	<% if !@modulos.empty? %>
		<% @modulos.each do |modulo| %>
		    <h5 class="p-3 mb-2 bg-info text-white text-center"><b>Módulo:</b> <%= link_to modulo.nome, modulo, class: "text-light" %></h5>
		    <% Missao.where(modulo_id: modulo.id, publico: true).each do |missao| %>
			    <h6 class="p-3 mb-2 bg-secondary text-white text-center">
			    	<b>Missão (<%= missao.tipo %>):</b> <%= link_to missao.nome, missao, class: "text-light" %></h6>
			    <% if missao.tipo == 'Tarefa' %>
			    	<%= render partial: "tarefas/tarefas", locals: {tarefa: missao.tarefa} %>
			    <% end %>
			    <% if missao.tipo == 'Quiz' %>
			    	<%= render partial: "quizzes/quizzes", locals: {quiz: missao.quiz} %>
			    <% end %>
			<% end %>
		<% end %>
	<% end %>
	<h6 class="p-3 mb-2 bg-success text-white text-center"><b>Pontuação Total:</b> <%= formata_pontos(@perfil.pontos_experiencia) %></h5>
</div>
