<div class="card">

  <div class="card-header">Notas do Aluno: <%= @aluno.usuario.nome %> </div>

  <% @aluno.curso.modulos.each do |modulo| %>
    <h5 class="p-3 mb-2 bg-info text-white text-center"><b>Módulo:</b> <%= link_to modulo.nome, modulo, class: "text-light" %></h5>
    	
		<div class="table-responsive">
	      <table class="table table-striped table-sm">
	        <thead>
	          <tr>
	            <th class="text-center">Missão</th> 
	            <th class="text-center">Tipo</th> 
	            <th class="text-center">Pontuação máxima</th>
	            <th class="text-center">Nota</th>
	            <th class="text-center">Enviada</th> 
	            <th class="text-center">Avaliada</th>        
	          </tr>
	        </thead>
	        <tbody>
	          <% modulo.tarefas.where(" not exists(select id from tarefa_alunos where tarefa_id is null)").each do |tarefa| %>
	            <tr>
	              <td><%= link_to tarefa.missao.nome, tarefa.missao %></td>
	              <td><%= link_to tarefa.nome, tarefa %></td>
	              <td><%= tarefa.missao.pontuacao %></td>
	              <td><%= minha_nota(tarefa.id, @aluno.id) %></td>
	              <td><%= enviada(tarefa.id, @aluno.id) %></td>
	              <td><%= avaliada(tarefa.id, @aluno.id) %></td>
	            </tr>
	          <% end %>
	        </tbody>
	      </table>
	    </div>   
   
  <% end %>

</div>
