<div class="card">

  <div class="card-header">Pendências </div>

	<div class="alert alert-info"><b><%= @usuario_curso.nickname %></b></div>

	<% if !@tarefas.empty? or !@quizzes.empty? or !@pesquisas.empty? %>

		<% if !@tarefas.empty? %>
			<h5 class="p-3 mb-2 bg-info text-white text-center"><b>Tarefas</b></h5>
			<% @tarefas.each do |tarefa| %>
				<div class="row">
	   				<div class="col-md-10 offset-md-1">
						<ul class="list-group">
				        	<li class="list-group-item"><b>Nome:</b> <%= link_to tarefa.nome, tarefa %></li>
				    	</ul>
				    </div>
			    </div>    
			<% end %>
		<% end %>

		<% if !@quizzes.empty? %>
			<h5 class="p-3 mb-2 bg-info text-white text-center"><b>Quizzes</b></h5>
			<% @quizzes.each do |quiz| %>
				<div class="row">
	   				<div class="col-md-10 offset-md-1">
						<ul class="list-group">
				        	<li class="list-group-item"><b>Nome:</b> <%= link_to quiz.nome, quiz.missao %></li>
				    	</ul>
				    </div>
			    </div>    
			<% end %>
		<% end %>

		<% if !@pesquisas.empty? %>
			<h5 class="p-3 mb-2 bg-info text-white text-center"><b>Pesquisas</b></h5>
			<% @pesquisas.each do |pesquisa| %>
				<div class="row">
	   				<div class="col-md-10 offset-md-1">
						<ul class="list-group">
				        	<li class="list-group-item"><b>Nome:</b> <%= link_to pesquisa.titulo, new_question_group_answer_group_path(pesquisa) %></li>
				    	</ul>
				    </div>
			    </div>    
			<% end %>
		<% end %>

	<% else %>
		<div class="alert alert-success">Parabéns! Não há pendências!</div>
	<% end %>

	<div class="card-footer text-muted">
		<%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary " %>
	</div>

</div>
