<div class="card">

  <div class="card-header">Meu Perfil</div>

  <div class="card-body">

    <div class="row">
      <div class="col-lg-3">
        <div class="input-group mb-3">
          <%if @usuario_curso.avatar %>
            <%= image_tag @usuario_curso.avatar.imagem.url(:medium), class: "img-responsive img-thumbnail" %>
          <% else %>
            <%= image_tag "missing.png", class: "img-responsive img-thumbnail" %>
          <% end %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="input-group mb-3">
          <label>Nome: </label>          
          <%= @usuario_curso.usuario.nome %>
        </div>

        <div class="input-group mb-3">
          <label>Nickname (apelido): </label>          
          <%= @usuario_curso.nickname %>
        </div>

        <%if @usuario_curso.nivel %>
          <div class="input-group mb-3">
            <label>Nível: </label>          
            <%= @usuario_curso.nivel.nome %>
          </div>
        <% end %>

        <div class="input-group mb-3">
          <label>Perfil: </label>          
          <%= @usuario_curso.perfil %>
        </div>

        <div class="input-group mb-3">
          <label>Cadastro no curso: </label>          
          <%= @usuario_curso.created_at.strftime("%d/%m/%Y") %>
        </div>
    
      </div>

    </div>
  </div>

  <% if @usuario_curso.grupo_curso %>

    <div class="card-header">Equipe</div>

    <div class="card-body">

      <div class="row">

        <div class="col-lg-12">
          <div class="input-group mb-2">
            <%= image_tag @usuario_curso.grupo_curso.grupo.imagem.variant(resize: "200x200"), class: "img-responsive img-thumbnail" %>
          </div>
          <div class="input-group">
            <label>Nome da Equipe: </label>          
            <%= @usuario_curso.grupo_curso.nome_curso %>
          </div>
        </div> 

      </div>
    </div>
  <% end %>

  <br>
  <div class="card-footer text-muted">
    <% if can? :edit, UsuarioCurso %>
      <%= link_to 'Atualizar', edit_usuario_curso_path(@usuario_curso), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>

</div>