<%= form_for @question_group do |form| %>

	<% if question_group.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger">
	      <h2><%= pluralize(question_group.errors.count, "erro(s)") %> - Pesquisa não pôde ser salva!</h2>

	      <ul>
	      <% question_group.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
 
	<div class="card-body">

	    <div class="form-group row">
	      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Título*</label>
	      <div class="col-md-8">
	        <%= form.text_field :titulo, autofocus: true, class: "form-control" %>
	      </div>
	    </div>

	    <div class="form-group row">
	      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Descrição</label>
	      <div class="col-md-8">
	        <%= form.text_area :descricao, class: "form-control" %>
	      </div>
	    </div>

	    <div class="form-group row">
	      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Objetivo</label>
	      <div class="col-md-8">
	        <%= form.text_area :objetivo, class: "form-control" %>
	      </div>
		</div>
			
		<div class="form-group row">
			<label class="form-check-label col-md-2 offset-md-1" for="gridCheck1">Disponível apenas no final do curso</label>
			<div class="col-md-4 ">
				<div class="form-check">
					<%= form.check_box :final_curso, class: "form-check-input" %> Sim
				</div>
			</div>        
		</div>

	</div>

	<div class="card-footer text-muted">
	    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
	    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
	</div>
  

<% end %>
