<div class="card">

  <div class="card-header">Resultado da Pesquisa</div>

	<div class="table-responsive">
		<table class="table table-sm">
			<%- @question_group_results.each_with_index do |result, index| %>
				<thead>
					<tr>
					  <th colspan ="2" class="bg-primary text-white"> <%= index +=1 %>- <%= result.question.pergunta %></th>
					</tr>
				</thead>
				<thead>
					<tr>
					  <td class="bg-info text-white font-weight-bold">Resposta</td>
					  <td class="bg-info text-white font-weight-bold"><center>Quantidade</center></td>
					</tr>
				</thead>
				<tbody>
					<% if result.results.is_a?(Hash) %>
				        <%- result.results.each do |option, count| %>
				          <tr>
				            <td class="bg-light text-primary font-weight-bold"><%= option %></td>
				            <td class="bg-light text-primary font-weight-bold"><%= count %></td>
				          </tr>
			        	<% end %>
					<% end %> 
					<tr>
			        	<th colspan ="2"><br><br></th>
			        </tr>
			    </tbody>
			<% end %>
		</table>
	</div>

	<div class="card-footer text-muted">
		<%= link_to 'Voltar para Pesquisa', :back, class: "btn btn-md btn-secondary"  %>
	</div>
</div>
