<div class="card">

	<div class="card-header">Pesquisa
	    <% if can? :edit, QuestionGroup %>
	      <%= link_to '', {:controller => 'question_groups', :action => 'edit', :id => @question_group.id, :usuario_curso_id => @question_group.usuario_curso_id}, class: "fa fa-edit text-white" %>
	    <% end %>
	    <% if can? :destroy, QuestionGroup %>
	      <%= link_to '', @question_group, method: :delete, data: { confirm: 'Deseja realmente excluir a Pesquisa?' }, class: "fa fa-trash text-white" %>
	    <% end %>
  	</div>

	<div class="row">
	    <div class="col-md-10 offset-md-1">
			<ul class="list-group">
			  <li class="list-group-item"><b>Título:</b> <%= @question_group.titulo %></li>
			  <li class="list-group-item"><b>Descrição:</b> <%= @question_group.descricao %> </li>
			  <% if @question_group.objetivo %>
			  	<li class="list-group-item"><b>Objetivo:</b> <%= @question_group.objetivo %></li>
				<% end %>
				<li class="list-group-item"><b>Respondida somente no final do curso:</b> <%= @question_group.final_curso? ? 'Sim' : 'Não' %></li>
			</ul>
		</div>
	</div>

	<br>

	<div class="card-footer text-muted">
		<% if can? :new, Question %>
            <%= link_to "Perguntas da Pesquisa", {:controller => 'questions', :action =>  'index', :usuario_curso_id => @perfil.id, :question_group_id => @question_group.id}, class: "btn btn-md btn-success" %>
        <% end %>
		<%= link_to 'Voltar', {:controller => 'question_groups', :action => 'index', :usuario_curso_id => @question_group.usuario_curso_id}, class: "btn btn-md btn-secondary" %>
	</div>
</div>
      