<%= form_with(model: pergunta_quiz, local: true) do |form| %>
  <% if pergunta_quiz.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(pergunta_quiz.errors.count, "erro(s)") %> - Pergunta do Quiz não pôde ser salva!</h2>

      <ul>
      <% pergunta_quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :quiz_id %>

  <div class="card-body">

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Descrição*</label>
      <div class="col-md-6">
        <%= form.text_area :descricao, autofocus: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', perguntas_quiz_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
