<% @perguntas_quizes.each_with_index do |pergunta_quiz, index| %>

  <div class="card">
    <div class="card-header2 bg-primary text-left">
      <p>
        <b><%= index+1 %>º Pergunta: </b>
        <% if can? :edit, PerguntaQuiz and !pergunta_quiz.quiz.finalizado %>
          <%= link_to  '', edit_pergunta_quiz_path(pergunta_quiz), class: "fa fa-pencil text-light" %>
        <% end %>
        <% if can? :destroy, PerguntaQuiz and !pergunta_quiz.quiz.finalizado %>
          <%= link_to  '', pergunta_quiz, method: :delete, id:"tasks", data: { confirm: 'Deseja realmente realmente remover A pergunta?'}, class: "fa fa-trash text-light" %>
        <% end %>
      </p>
      <p><%= pergunta_quiz.descricao.to_s.html_safe %></p>
      <p><label class="text-light">Pontuação:</label> <%= pergunta_quiz.pontuacao %></p>
    </div>

    <div class="card-body bg-dark">
      <p class="card-text">
        <div id="<%= pergunta_quiz.id %>"><% @respostas_perguntas = RespostaPergunta.where(pergunta_quiz_id: pergunta_quiz.id).order('created_at') %><%= render 'respostas_perguntas/resposta_pergunta', :collection => @respostas_perguntas %></div>


        <div id="task-form<%= pergunta_quiz.id %>" style="display:none;"></div>
        
        <br>
        <% if can? :new, RespostaPergunta %>
          <div class="text-center">
            <%= link_to " Adicionar Resposta", {controller: 'respostas_perguntas', action: 'new', :pergunta_quiz_id => pergunta_quiz.id, remote: true}, class: "btn btn-danger" %>
          </div>
        <% end %>
      </p>
    </div>
    
  </div>
<% end %>

