<% @perguntas_quizes.each_with_index do |pergunta_quiz, index| %>

  <div class="card">
    <div class="card-header2 bg-primary text-left">
      <p>
        <b><%= index+1 %>ยบ Pergunta: </b>
        <% if can? :edit, PerguntaQuiz %>
          <%= link_to  '', edit_pergunta_quiz_path(pergunta_quiz), class: "fa fa-pencil text-light", remote: true %>
        <% end %>
        <% if can? :destroy, PerguntaQuiz %>
          <%= link_to  '', pergunta_quiz, method: :delete, id:"tasks", data: { confirm: 'Deseja realmente realmente remover A pergunta?'}, class: "fa fa-trash text-light", remote: true %>
        <% end %>
      </p>

      <p><%= pergunta_quiz.descricao.to_s.html_safe %></p>
      
      <div id="pergunta-form<%= pergunta_quiz.id %>" style="display:none;"></div>
    </div>

    <div class="card-body bg-dark" id="<%= pergunta_quiz.id %>">
      <p class="card-text">
        <div id="resposta_pergunta"><% @respostas_perguntas = RespostaPergunta.where(pergunta_quiz_id: pergunta_quiz.id).order('created_at') %><%= render 'respostas_perguntas/resposta_pergunta', :collection => @respostas_perguntas %></div>

        <div id="task-form" style="display:none;"></div>
        <br>
        <% if can? :new, RespostaPergunta %>
          <div class="text-center">
            <%= link_to " Adicionar Resposta", {controller: 'respostas_perguntas', action: 'new', :pergunta_quiz_id => pergunta_quiz.id, remote: true}, class: "btn btn-danger" %>
          </div>
        <% end %>
      </p>
    </div>
    
  </div>
<% end %>

