<div class="card">

  <div class="card-header">Perguntas dos Quizes</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Descrição</th>
          <th class="text-center" colspan="3">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @perguntas_quiz.each do |pergunta_quiz| %>
          <tr>
            <td><%= pergunta_quiz.descricao %></td>
            <% if can? :show, PerguntaQuiz %>
              <td><%= link_to 'Visualizar', pergunta_quiz %></td>
            <% end %>
            <% if can? :edit, PerguntaQuiz %>
              <td><%= link_to 'Atualizar', edit_pergunta_quiz_path(pergunta_quiz) %></td>
            <% end %>
            <% if can? :destroy, PerguntaQuiz %>
              <td><%= link_to 'Excluir', pergunta_quiz, method: :delete, data: { confirm: 'Deseja realmente excluir a Pergunta do Quiz?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @perguntas_quiz %></span>

</div>
