<p id="notice"><%= notice %></p>

<h1>Perguntas Quiz</h1>

<table>
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perguntas_quiz.each do |pergunta_quiz| %>
      <tr>
        <td><%= pergunta_quiz.quiz %></td>
        <td><%= pergunta_quiz.descricao %></td>
        <td><%= link_to 'Show', pergunta_quiz %></td>
        <td><%= link_to 'Edit', edit_pergunta_quiz_path(pergunta_quiz) %></td>
        <td><%= link_to 'Destroy', pergunta_quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pergunta Quiz', new_pergunta_quiz_path %>
