<%= form_with(model: missao, local: true) do |form| %>
  <% if missao.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(missao.errors.count, "erro(s)") %> Missão não pôde ser salva!</h2>

      <ul>
      <% missao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :modulo_id %>
  
  <div class="card-body">

    <div class="form-group row">
      <label for="inputTexto" class="col-md-2 offset-md-2 col-form-label">Nome*</label>
      <div class="col-md-6">
        <%= form.text_field :nome, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputTexto" class="col-md-2 offset-md-2 col-form-label">Descrição*</label>
      <div class="col-md-6">
        <%= form.cktext_area :descricao, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Imagem</label>
      <div class="col-md-6">
        <%= form.file_field :imagem %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Pontuação*</label>
      <div class="col-md-6">
        <%= form.number_field :pontuacao, step: :any, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Tipo*</label>
      <div class="col-md-6">
        <%= form.select :tipo,  options_for_select([["Tarefa", "Tarefa"], ["Quiz", "Quiz"]], form.object.tipo), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataInicio" class="col-md-2 offset-md-2 col-form-label">Data de início*</label>
      <div class="col-md-3">
        <%= form.date_field :data_inicio, value: @missao.data_inicio.try(:strftime,"%Y-%m-%d"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataInicio" class="col-md-2 offset-md-2 col-form-label">Hora de início*</label>
      <div class="col-md-2">
        <%= form.time_field :hora_inicio, value: @missao.hora_inicio.try(:strftime,"%H:%M"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataTermino" class="col-md-2 offset-md-2 col-form-label">Data de término*</label>
      <div class="col-md-3">
        <%= form.date_field :data_termino, value: @missao.data_termino.try(:strftime,"%Y-%m-%d"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataInicio" class="col-md-2 offset-md-2 col-form-label">Hora de término*</label>
      <div class="col-md-2">
        <%= form.time_field :hora_termino, value: @missao.hora_termino.try(:strftime,"%H:%M"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-2 offset-md-2" for="gridCheck1">Pública</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :publico, class: "form-check-input" %> Sim
        </div>
      </div>        
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>
<% end %>
