<%= form_with(model: missao, local: true) do |form| %>
  <% if missao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(missao.errors.count, "error") %> prohibited this missao from being saved:</h2>

      <ul>
      <% missao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :curso_id %>
    <%= form.text_field :curso_id %>
  </div>

  <div class="field">
    <%= form.label :usuario_curso_id %>
    <%= form.text_field :usuario_curso_id %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
