<div class="card">

  <div class="card-header">Missões</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Módulo</th>
          <% if can? :edit, Missao %>
            <th class="text-center">Pública</th>
          <% end %>
          <th class="text-center" colspan="4">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @missoes.each do |missao| %>
          <tr>
            <td><%= missao.nome %></td>
            <td><%= missao.modulo.nome %></td>
            <% if can? :edit, Missao %>
              <td><%= missao.publico? ? 'Sim' : 'Não' %></td>
            <% end %>
            <% if can? :show, Missao %>
              <td><%= link_to 'Visualizar', missao %></td>
            <% end %>
            <% if can? :edit, Missao %>
              <td><%= link_to 'Atualizar', edit_missao_path(missao) %></td>
            <% end %>
            <% if can? :destroy, Missao %>
              <td><%= link_to 'Excluir', missao, method: :delete, data: { confirm: 'Deseja realmente excluir a Missão?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @tarefas %></span>

  <br>
  <% if can? :new, Missao %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Missão', new_missao_path, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>
</div>