<div class="card">

  <div class="card-header">Missão
    <% if can? :edit, Missao %>
      <%= link_to '', edit_missao_path(@missao), class: "fa fa-edit text-white" %>
    <% end %>
    <% if can? :destroy, Missao %>
      <%= link_to '', @missao, method: :delete, data: { confirm: 'Deseja realmente excluir a Missão?' }, class: "fa fa-trash text-white" %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <ul class="list-group">
         <li class="list-group-item"><b>Nome:</b> <%= @missao.nome %></li>
         <li class="list-group-item"><b>Descrição:</b> <%= @missao.descricao.to_s.html_safe %></li>
         <% if @missao.imagem.attached? %>
          <li class="list-group-item"><b>Imagem:</b> <%= image_tag @missao.imagem.variant(resize: "100x100") %></li>
         <% end %>
         <li class="list-group-item"><b>Pontuação:</b> <%= @missao.pontuacao %></li>
         <li class="list-group-item"><b>Tipo:</b> <%= @missao.tipo %></li>
         <li class="list-group-item"><b>Ativa:</b> <%= @missao.ativo? ? 'Sim' : 'Não' %></li>
         <li class="list-group-item"><b>Criada por:</b> <%= @missao.usuario_curso.nickname %></li>
         <li class="list-group-item"><b>Criada em:</b> <%= @missao.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
      </ul>
    </div>
  </div>  

  <div class="card-footer text-muted">
    <% if can? :new, Dica %>
      <%= link_to 'Adicionar Dica', {controller: 'dicas', action: 'new', :missao_id => @missao.id}, class: "btn btn-md btn-success" %>
    <% end %>

    <% if @missao.tipo == 'Tarefa' %>
      <% if !@missao.tarefa %>
        <% if can? :new, Tarefa %>
          <%= link_to 'Adicionar Tarefa', {controller: 'tarefas', action: 'new', missao_id: @missao.id}, class: "btn btn-md btn-danger" %>
        <% end %>
      <% else %>
        <%= link_to 'Ver tarefa', @missao.tarefa, class: "btn btn-md btn-success"  %>
      <% end %>
    <% end %>

    <% if @missao.tipo == 'Quiz' %>
      <% if !@missao.quiz %>
        <% if can? :new, Quiz %>
          <%= link_to 'Adicionar Quiz', {controller: 'quizes', action: 'new', missao_id: @missao.id}, class: "btn btn-md btn-danger" %>
        <% end %>
      <% else %>
        <%= link_to 'Ver quiz', @missao.quiz, class: "btn btn-md btn-sucess"  %>
      <% end %>
    <% end %>

    <%= link_to 'Voltar', missoes_path, class: "btn btn-md btn-secondary" %>
  </div>
</div>


<% if !@dicas.empty? %>
  <div class= "card"> 
    <div class="card-header">Dicas</div>
    
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <tbody>
          <% @dicas.each_with_index do |dica, index| %>
          <tr>
            <td class="text-left"><%= index +1 %>ª Dica: <%= link_to dica.nome, dica %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>