<div class="card">

  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document"></div>
  </div>
  <div class="card-header">Missão
    <% if can? :edit, Missao %>
      <%= link_to '', edit_missao_path(@missao), class: "fa fa-edit text-white" %>
    <% end %>
    <% if can? :destroy, Missao %>
      <%= link_to '', @missao, method: :delete, data: { confirm: 'Deseja realmente excluir a Missão?' }, class: "fa fa-trash text-white" %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <ul class="list-group">
        <li class="list-group-item"><b>Nome:</b> <%= @missao.nome %></li>
        <li class="list-group-item"><b>Descrição:</b> <%= @missao.descricao.to_s.html_safe %></li>
        <% if @missao.imagem.attached? %>
          <li class="list-group-item"><b>Imagem:</b> <%= image_tag @missao.imagem.variant(resize: "100x100"), class: "img-responsive" %></li>
        <% end %>
        <li class="list-group-item"><b>Pontuação:</b> <%= @missao.pontuacao %></li>
        <li class="list-group-item"><b>Tipo:</b> <%= @missao.tipo %></li>
        <li class="list-group-item"><b>Início da Missão:</b> <%= @missao.data_hora_inicio %></li>
        <li class="list-group-item"><b>Término da Missão:</b> <%= @missao.data_hora_termino %></li>
        <% if @perfil.perfil != 'Aluno' %>
          <li class="list-group-item"><b>Pública:</b> <%= @missao.publico? ? 'Sim' : 'Não' %></li>
          <li class="list-group-item"><b>Criada por:</b> <%= @missao.usuario_curso.nickname %></li>
          <li class="list-group-item"><b>Criada em:</b> <%= @missao.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
        <% end %>
        <% if !@dicas.empty? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2">
                <div class="input-group mb-3">
                 <p><label>Dicas:</label></p>
                </div>
              </div>
              <% @dicas.each_with_index do |dica, index| %>
              <div class="col-lg-2">
                <div class="input-group mb-3">
                 <p><%= index +1 %>ª <%= link_to "", dica, {class: "fa fa-lightbulb-o fa-sm nav-link", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></p>
                </div>
              </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>  

  <div class="card-footer text-muted">
    <% if can? :new, Dica %>
      <%= link_to 'Adicionar Dica', {controller: 'dicas', action: 'new', :missao_id => @missao.id}, class: "btn btn-md btn-success" %>
    <% end %>

    <% if @missao.tipo == 'Tarefa' %>
      <% if !@missao.tarefa %>
        <% if can? :new, Tarefa %>
          <%= link_to 'Adicionar Tarefa', {controller: 'tarefas', action: 'new', missao_id: @missao.id}, class: "btn btn-md btn-danger" %>
        <% end %>
      <% else %>
        <%= link_to 'Ver tarefa', @missao.tarefa, class: "btn btn-md btn-warning"  %>
      <% end %>
    <% end %>

    <% if @missao.tipo == 'Quiz' %>
      <% if !@missao.quiz %>
        <% if can? :new, Quiz %>
          <%= link_to 'Adicionar Quiz', {controller: 'quizzes', action: 'new', missao_id: @missao.id}, class: "btn btn-md btn-danger" %>
        <% end %>
      <% else %>
        <% if @perfil.perfil != 'Aluno' %>
          <%= link_to 'Ver quiz', @missao.quiz, class: "btn btn-md btn-warning"  %>
        <% end%>
        <% if @perfil.perfil == 'Aluno' and !respondido_quiz(@missao.quiz, @perfil.id) and @missao.quiz.finalizado %>
          <%= link_to 'Responder Quiz', {controller: 'quiz_respostas_alunos', action: 'new', quiz_id: @missao.quiz}, class: "btn btn-md btn-danger" %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to 'Voltar', @missao.modulo.curso, class: "btn btn-md btn-secondary" %>
  </div>

  <br>

  <% if !@dicas.empty? and can? :new, Dica %>

    <div class="card-header">Dicas da Missão</div>
    
    <div class="row">
      <div class="col-md-10 offset-md-1">
     
        <ul class="list-group">
          <% @dicas.each_with_index do |dica, index| %>
            <li class="list-group-item"><%= index +1 %>ª Dica: <%= link_to dica.nome, dica %></li>
          <% end %>
        </ul>       
        
      </div>
    </div>

  <% end %>

</div>