<div class="card">
  <div class="card-header">Badges</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @badges.each do |badge| %>
          <tr>
            <td><%= badge.nome %></td>
            <td><%= link_to 'Visualizar', badge %></td></td>
            <td>
              <% if can? :edit, Badge %>
                <%= link_to 'Atualizar', edit_badge_path(badge) %></td>
              <% else%> - 
              <% end %>
            <td>
              <% if can? :Destroy, Badge %>
                <%= link_to 'Excluir', badge, method: :delete, data: { confirm: 'Deseja realmente excluir a Badge?' } %></td>
              <% else%> - 
              <% end %>
            </tr>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @badges %></span>

  <br>

  <% if can? :new, Forum %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Badge', new_badge_path, class: "btn btn-md btn-primary" %>
      <%= link_to 'Voltar', inicial_path, class: "btn btn-md btn-secondary" %>
    </div>
  <% end %>

</div>