<div class="card">

	<div class="card-header">Badge</div>

	<div class="card-body">

		<div class="row">

		  <div class="col-lg-4">
		    <div class="input-group mb-3">
		      <%= image_tag @badge.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
		    </div>
		  </div>

		  <div class="col-lg-8">

		    <div class="input-group mb-3">
		      <p>
		        <label>Nome: </label>          
		        <%= @badge.nome %>
		      </p>
		    </div>

		    <div class="input-group mb-3">
		      <p>
		        <label>Pontos requeridos: </label>          
		        <%= @badge.pontos_requeridos %>
		      </p>
		    </div>

		    <div class="input-group mb-3">
		      <p>
		        <label>Ativa: </label>          
		        <%= @badge.ativo? ? 'Sim' : 'Não' %>
		      </p>
		    </div>

		    <div class="input-group mb-3">
		      <p>
		        <label>Cadastrada em: </label>          
		        <%= @badge.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
		      </p>
		    </div>

		  </div>

		</div>
	</div>

	<br>

	<div class="card-footer text-muted">
	  <% if can? :edit, Badge %>
	    <%= link_to 'Atualizar', edit_badge_path(@badge), class: "btn btn-md btn-primary" %>
	  <% end %>
	  <%= link_to 'Voltar', badges_path, class: "btn btn-md btn-secondary" %>
	</div>
</div>