<div class="card">

  <div class="card-header">Badge</div>

	<ul class="list-group">
	  <li class="list-group-item"><b>Nome:</b> <%= @badge.nome %></li>
	  <li class="list-group-item"><b>Imagem:</b> <%= image_tag @badge.imagem.variant(resize: "100x100") %></li>
	  <li class="list-group-item"><b>Ativa:</b> <%= @badge.ativo? ? 'Sim' : 'Não' %></li>
	  <li class="list-group-item"><b>Cadastrada em:</b> <%= @badge.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>     
	</ul>

	<br>

	<div class="card-footer text-muted">
	  <% if can? :edit, Badge %>
	    <%= link_to 'Atualizar', edit_badge_path(@badge), class: "btn btn-md btn-primary" %>
	  <% end %>
	  <%= link_to 'Voltar', badges_path, class: "btn btn-md btn-secondary" %>
	</div>
</div>