<%= form_with(model: modulo, local: true) do |form| %>
  <% if modulo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(modulo.errors.count, "erro(s)") %> - Conteúdo não pôde ser salvo!</h2>

      <ul>
      <% modulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <%= form.hidden_field :curso_id %>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Nome*</label>
      <div class="col-md-6">
        <%= form.text_field :nome, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
        <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Descrição</label>
        <div class="col-md-6">
          <%= form.text_area :descricao, class: "form-control" %> 
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-2 offset-md-2" for="gridCheck1">Público</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :publico, class: "form-check-input" %> Sim
        </div>
      </div>        
    </div>
  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', modulos_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
