<p id="notice"><%= notice %></p>

<h1>Modulos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modulos.each do |modulo| %>
      <tr>
        <td><%= modulo.nome %></td>
        <td><%= modulo.descricao %></td>
        <td><%= modulo.curso %></td>
        <td><%= link_to 'Show', modulo %></td>
        <td><%= link_to 'Edit', edit_modulo_path(modulo) %></td>
        <td><%= link_to 'Destroy', modulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modulo', new_modulo_path %>
