<div class="card">
  <div class="card-header">Módulos do Curso</div>

  <% if !@modulos.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Público</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @modulos.each do |modulo| %>
            <tr>
              <td><%= modulo.nome %></td>
              <td><%= modulo.publico? ? 'Sim' : 'Não' %></td>
              <% if can? :show, Modulo %>
                <td><%= link_to 'Visualizar', modulo %></td>
              <% end %>
              <% if can? :edit, Modulo %>
                <td><%= link_to 'Atualizar', edit_modulo_path(modulo) %></td>
              <% end %>
              <% if can? :destroy, Modulo %>
                <td><%= link_to 'Excluir', modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Módulo do curso?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @modulos %></span>
  <% end %>

  <br>

  <% if can? :new, Modulo %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Módulo do Curso', new_modulo_path, class: "btn btn-md btn-success" %>
    </div>
  <% end %>

</div>