<div class="card">
  <div class="card-header">Módulos do Curso</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Materiais</th>
          <th class="text-center">Explicações</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @modulos.each do |modulo| %>
          <tr>
            <td><%= modulo.nome %></td>
            <td>
              <% if can? :new, Material %>
                <%= link_to  'Materiais', {controller: 'materiais', action: 'index', modulo_id: modulo.id}, class: "btn btn-sm btn-danger" %></td>
              <% else%> - 
              <% end %>
            <td>
              <% if can? :new, Explicacao %>
                <%= link_to  'Inserir Explicações', {controller: 'explicacoes', action: 'new', modulo_id: modulo.id}, class: "btn btn-sm btn-danger" %></td>
              <% else%> - 
              <% end %>
            <% if can? :show, Modulo %>
              <td><%= link_to 'Visualizar', modulo %></td>
            <% end %>
            <% if can? :edit, Modulo %>
              <td><%= link_to 'Atualizar', edit_modulo_path(modulo) %></td>
            <% end %>
            <% if can? :destroy, Modulo %>
              <td><%= link_to 'Excluir', modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Módulo do curso?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @modulos %></span>

  <br>

  <% if can? :new, Modulo %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Módulo do Curso', {controller: 'modulos', action: 'new', curso_id: @current_usuario.curso_atual_id}, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>

</div>