<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modulo.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @modulo.descricao %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @modulo.curso %>
</p>

<%= link_to 'Edit', edit_modulo_path(@modulo) %> |
<%= link_to 'Back', modulos_path %>
