<div class="card">

	<div class="card-header"><%= @modulo.nome %>
		<% if can? :edit, Modulo %>
			<%= link_to '', edit_modulo_path(@modulo), class: "fa fa-edit text-white" %>
		<% end %>
		<% if can? :destroy, Modulo %>
			<%= link_to '', @modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Módulo?' }, class: "fa fa-trash text-white" %>
		<% end %>
	</div>
  
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<ul class="list-group">
				<li class="list-group-item"><b>Nome do módulo:</b> <%= @modulo.nome %></li>  
				<% if @modulo.descricao? %>
					<li class="list-group-item"><b>Descrição:</b> <%= @modulo.descricao %></li>
				<% end %>
				<% if can? :edit, Modulo %>
				<li class="list-group-item"><b>Público:</b> <%= @modulo.publico? ? 'Sim' : 'Não' %></li>  
				<li class="list-group-item"><b>Cadastrado em:</b> <%= @modulo.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>  
				<li class="list-group-item"><b>Atualizado em:</b> <%= @modulo.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>  
				<li class="list-group-item"><b>Curso:</b> <%= @modulo.curso.nome %></li>      
				<% end %>
			</ul>
		

			<% if not @missoes.empty? %>

				<div class="card-header">Missões do Módulo</div>

				<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead class="thead-dark">
						<tr>
							<th class="text-center">Nome</th>
							<th class="text-center">Tipo</th>
							<th class="text-center">Pública</th>
							<th colspan="3" class="text-center">Opções</th>
						</tr>
					</thead>
					<tbody>
						<% @missoes.each do |missao| %>
							<% if missao.publico? or @perfil.perfil != 'Aluno' %>
								<tr>
									<td><%= link_to publica(missao), missao %></td>
									<td><%= missao.tipo %></td>
									<td><%= missao.publico? ? 'Sim' : 'Não' %></td>
									<% if can? :show, Missao %>
										<td><%= link_to 'Visualizar', missao %></td>
									<% end %>
									<% if can? :edit, Missao %>
										<td><%= link_to 'Atualizar', edit_missao_path(missao) %></td>
									<% end %>
									<% if can? :destroy, Missao %>
										<td><%= link_to 'Excluir', missao, method: :delete, data: { confirm: 'Deseja realmente excluir a Missão?' } %></td>
									<% end %>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				</div>

			<% end %>

			<% if not @materiais.empty? %>

				<div class="card-header">Materiais do Módulo</div>

				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Nome</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">Público</th>
								<th colspan="3" class="text-center">Opções</th>
							</tr>
						</thead>
						<tbody>
							<% @materiais.each do |material| %>
								<% if material.publico? or @perfil.perfil != 'Aluno' %>
									<tr>
										<td><%= link_to publico(material), material %></td>
										<td><%= material.tipo %></td>
										<td><%= material.publico? ? 'Sim' : 'Não' %></td>
										<% if can? :show, Material %>
											<td><%= link_to 'Visualizar', material %></td>
										<% end %>
										<% if can? :edit, Material %>
											<td><%= link_to 'Atualizar', edit_material_path(material) %></td>
										<% end %>
										<% if can? :destroy, Material %>
											<td><%= link_to 'Excluir', material, method: :delete, data: { confirm: 'Deseja realmente excluir o Material?' } %></td>
										<% end %>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
				
			<% end %>

			<% if not @dialogos.empty? %>

				<div class="card-header">Diálogos do Módulo</div>

				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">Nome</th>
								<th colspan="3" class="text-center">Opções</th>
							</tr>
						</thead>
						<tbody>
							<% @dialogos.each do |dialogo| %>
								<tr>
									<td><%= link_to dialogo.nome, dialogo %></td>
									<% if can? :show, Dialogo %>
										<td><%= link_to 'Visualizar', dialogo %></td>
									<% end %>
									<% if can? :edit, Dialogo %>
										<td><%= link_to 'Atualizar', edit_dialogo_path(dialogo) %></td>
									<% end %>
									<% if can? :destroy, Dialogo %>
										<td><%= link_to 'Excluir', dialogo, method: :delete, data: { confirm: 'Deseja realmente excluir o Diálogo?' } %></td>
									<% end %>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>

    		<% end %>
		</div>
	</div>

	<div class="card-footer text-muted">
      	<%= link_to 'Voltar', modulos_path, class: "btn btn-md btn-secondary" %>
	</div>

</div>