<p id="notice"><%= notice %></p>

<h1>Usuario Respostas</h1>

<table>
  <thead>
    <tr>
      <th>Usuario curso</th>
      <th>Respostas perguntas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_respostas.each do |usuario_resposta| %>
      <tr>
        <td><%= usuario_resposta.usuario_curso %></td>
        <td><%= usuario_resposta.respostas_perguntas %></td>
        <td><%= link_to 'Show', usuario_resposta %></td>
        <td><%= link_to 'Edit', edit_usuario_resposta_path(usuario_resposta) %></td>
        <td><%= link_to 'Destroy', usuario_resposta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario Resposta', new_usuario_resposta_path %>
