<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario curso:</strong>
  <%= @usuario_resposta.usuario_curso %>
</p>

<p>
  <strong>Respostas perguntas:</strong>
  <%= @usuario_resposta.respostas_perguntas %>
</p>

<%= link_to 'Edit', edit_usuario_resposta_path(@usuario_resposta) %> |
<%= link_to 'Back', usuario_respostas_path %>
