<%= form_with(model: quiz_resposta_aluno, local: true) do |form| %>
  <% if quiz_resposta_aluno.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(quiz_resposta_aluno.errors.count, "erro(s)") %> Resposta não pôde ser salva!:</h2>

      <ul>
      <% quiz_resposta_aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @pergunta %>

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="list-group">
          <li class="list-group-item text-center bg-info text-white"><b>Quiz:</b> <%= @pergunta.quiz.nome %></li>
          <li class="list-group-item bg-light"><b>Pergunta:</b> <%= @pergunta.descricao.html_safe %></li>
          <li class="list-group-item bg-light text-success"><b>Pontuação:</b> <%= formata_pontos(@pergunta.pontuacao) %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="list-group">
          <li class="list-group-item text-center bg-secondary text-white"><b>Opções de resposta:</b></li>
          <li class="list-group-item bg-light">
            <% @a = ("a".."z").to_a %>
            <% QuizPerguntaResposta.where(quiz_pergunta_id: @pergunta.id).order('id').each_with_index do |resposta, i| %>
                <p><%= form.radio_button :quiz_pergunta_resposta_id, resposta.id, required: true %><%= @a[i] %>) 
                <%= strip_tags(resposta.descricao) %></p>
          <% end %>  
          </li>
    
        </ul>
      </div>
    </div>
     
    <div class="card-footer text-muted">
      <%= form.submit "Responder", class: "btn btn-md btn-success" %>
    </div>

  <% else %>
    <div class="card-footer text-muted">
      <%= link_to 'Próxima pergunta', {controller: 'quiz_respostas_alunos', action: 'new', pergunta_id: quiz_resposta_aluno.quiz_pergunta_resposta.quiz_pergunta.id, quiz_id: quiz_resposta_aluno.quiz_pergunta_resposta.quiz_pergunta.quiz_id}, class: "btn btn-md btn-success" %>
    </div>
  <% end %>

<% end %>
