<div class="card">

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">IP</th>
                    <th class="text-center">Agente</th>
                    <th class="text-center">SO</th>
                    <th class="text-center">Dispositivo</th>
                    <th class="text-center">Inicio</th>
                    <th class="text-center">Fim</th>
                </tr>
            </thead>
            <tbody>
                <% @visitas.each do |visita| %>
                <tr>
                    <td><%= visita.usuario.nome %></td>
                    <td><%= visita.ip %></td>
                    <td><%= visita.user_agent %></td>
                    <td><%= visita.os %></td>
                    <td><%= visita.device_type %></td>
                    <td><%= visita.started_at.strftime('%d/%m/%Y') %></td>
                    <% if visita.finished_at %>
                    <td><%= visita.finished_at.strftime('%d/%m/%Y') %></td>
                    <%end%>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <span> <%= will_paginate @visitas %></span>
    
    <br>
    
</div>