<%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "erro (s)") %> - Curso não pôde ser salvo!</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputEmail">Nome*</label>
    <%= form.text_field :nome, autofocus: true, class: "form-control" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Descrição</label>
    <%= form.text_area :descricao, class: "form-control" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Código de acesso*</label>
    <%= form.text_field :codigo_acesso, autofocus: true, class: "form-control", id: 'codigo_acesso' %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Data de início</label>
    <%= form.text_field :data_inicio, class: "form-control data" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Data de término</label>
    <%= form.text_field :data_termino, class: "form-control data" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Ativo* <%= form.check_box :ativo, class: "form-control" %></label>   
  </div>

  <div class="form-group">
    <label for="inputEmail">Tema do curso</label>
    <%= form.collection_select(:tema_curso_id, TemaCurso.where(ativo: true).order('nome'), :id, :nome, :prompt => true, class: "form-control")%>    
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <br>
<% end %>
