<%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(curso.errors.count, "erro(s)") %> - Curso não pôde ser salvo!</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :codigo_acesso %>

  <div class="card-body">
    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Nome*</label>
      <div class="col-md-6">
        <%= form.text_field :nome, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Descrição*</label>
      <div class="col-md-6">
        <%= form.cktext_area :descricao, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataInicio" class="col-md-2 offset-md-2 col-form-label">Data de início*</label>
      <div class="col-md-2">
        <%= form.date_field :data_inicio, value: @curso.data_inicio.try(:strftime,"%Y-%m-%d"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataInicio" class="col-md-2 offset-md-2 col-form-label">Hora de início*</label>
      <div class="col-md-2">
        <%= form.time_field :hora_inicio, value: @curso.hora_inicio.try(:strftime,"%H:%M"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataTermino" class="col-md-2 offset-md-2 col-form-label">Data de término*</label>
      <div class="col-md-2">
        <%= form.date_field :data_termino, value: @curso.data_termino.try(:strftime,"%Y-%m-%d"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataInicio" class="col-md-2 offset-md-2 col-form-label">Hora de término*</label>
      <div class="col-md-2">
        <%= form.time_field :hora_termino, value: @curso.hora_termino.try(:strftime,"%H:%M"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataTermino" class="col-md-2 offset-md-2 col-form-label">Professor(a) principal*</label>
      <div class="col-md-6">
        <%= form.collection_select(:proprietario_id, Usuario.where(ativo: true).order('nome'), :id, :nome, {:prompt => true}, {class: "selecionar"})%>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Carga horária(h)*</label>
      <div class="col-md-6">
        <%= form.number_field :carga_horaria, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-2 offset-md-2" for="gridCheck1">Ativo</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :ativo, class: "form-check-input" %> Sim
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-2 offset-md-2" for="gridCheck1">Público</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :publico, class: "form-check-input" %> Sim
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDataTermino" class="col-md-2 offset-md-2 col-form-label">Tema do curso*</label>
      <div class="col-md-6">
        <%= form.collection_select(:tema_curso_id, TemaCurso.where(ativo: true).order('nome'), :id, :nome, :prompt => true, class: "form-control")%>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>
<% end %>
