<div class="card">

  <div class="card-header"><%= @curso.nome %>
    <% if can? :edit, Curso %>
      <%= link_to '', edit_curso_path(@curso), class: "fa fa-edit text-white" %>
    <% end %>
    <% if can? :destroy, Curso %>
      <%= link_to '', @curso, method: :delete, data: { confirm: 'Deseja realmente excluir o Curso?' }, class: "fa fa-trash text-white" %>
    <% end %>
  </div>
  
  <div class="text-center">
    <br>
    <% if !current_admin and @usuario_curso.empty? and no_prazo(@curso) %>
      <%= link_to 'Me inscrever neste Curso', {controller: 'usuario_curso', action: 'inscricao_curso'}, class: "btn btn-md btn-success" %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul class="list-group">
        <li class="list-group-item"><b>Descrição:</b> <%= @curso.descricao.to_s.html_safe %></li>
        <% if can? :edit, Curso %>
          <li class="list-group-item"><b>Professor(a) principal:</b> <%= @curso.proprietario.nome %></li>
        <% end %>
        <li class="list-group-item"><b>Início do curso:</b> <%= @curso.data_hora_inicio %></li>
        <li class="list-group-item"><b>Término do curso:</b> <%= @curso.data_hora_termino %></li>
        <li class="list-group-item"><b>Carga horária:</b> <%= @curso.carga_horaria %>h</li>
        <li class="list-group-item"><b>Porcentagem aprovação:</b> <%= @curso.porcentagem_aprovacao %>%</li>
        <li class="list-group-item"><b>Público-alvo:</b> <%= @curso.publico_alvo.to_s.html_safe %></li>
        <% if @curso.criterios_participacao %>
          <li class="list-group-item"><b>Critérios de participação:</b> <%= @curso.criterios_participacao.to_s.html_safe %></li>
        <% end %>
        <% if can? :edit, Curso %>
          <li class="list-group-item"><b>Código de acesso:</b> <%= @curso.codigo_acesso %></li>   
          <li class="list-group-item"><b>Ativo:</b> <%= @curso.ativo? ? 'Sim' : 'Não' %></li>
          <li class="list-group-item"><b>Público:</b> <%= @curso.publico? ? 'Sim' : 'Não' %></li>
          <li class="list-group-item"><b>Cadastrado em:</b> <%= @curso.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
          <li class="list-group-item"><b>Atualizado em:</b> <%= @curso.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>  
          <li class="list-group-item"><b>Tema:</b> <%= link_to @curso.tema_curso.nome, @curso.tema_curso %></li>
        <% end %>
        <% if @perfil and @perfil.perfil == 'Aluno' %>
          <li class="list-group-item"><b>Status no Curso:</b> <%= @perfil.status_curso %></li>
          <% if @perfil.status_curso == 'Curso finalizado' %>
            <li class="list-group-item"><b>Aprovado?</b> <%= @perfil.aprovado? ? 'Sim': 'Não' %></li>
          <% end %> 
        <% end %>      
      </ul>
    </div>
  </div>

  <% if @perfil and @perfil.perfil == 'Professor' and @perfil.curso.ativo == true %>
    <div class="text-center">
      <%= link_to 'Finalizar Curso para todos os alunos', finalizar_completamente_curso_path(id: @perfil.curso.id), class: "btn btn-md btn-danger", data: { confirm: 'Deseja realmente finalizar permanentemente o Curso?' } %>
    </div>
  <% end %>

  <div class="card-footer text-muted">
    <% if admin_signed_in? %>
      <%= link_to 'Voltar', :cursos, class: "btn btn-md btn-secondary" %>
    <% else%>
      <% if @perfil and @perfil.perfil == "Aluno" and @perfil.status_curso == 'Em andamento' %>  
        <%= link_to 'Cancelar inscrição no Curso', cancelar_inscricao_path(id: @perfil.id), class: "btn btn-md btn-danger", data: { confirm: 'Deseja realmente cancelar sua Inscrição no Curso?' } %>
      <% end %>
      
      <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
    <% end%>
  </div>
  
</div>