<div class="card">
  <div class="card-header">Cursos</div>

  <%= search_form_for @q do |f| %>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
            <%= f.search_field :nome_cont, :class => 'form-control'  %>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Ativo</span>
            </div>
            <%= f.select :ativo_eq,   [['Sim', true], ['Não', false]], :include_blank => "Todos", :class => 'form-control', id: 'custom-select' %>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Público</span>
            </div>
            <%= f.select :publico_eq,   [['Sim', true], ['Não', false]], :include_blank => "Todos", :class => 'form-control', id: 'custom-select' %>
          </div>
        </div>
      </div>     
    </div>
    
    <div class="text-center">
      <button class="btn btn-primary link search-btn" ><% submit_tag "" %>Pesquisar</button>
    </div>
  <% end %>

  <% if !@cursos.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Ativo</th>
            <th class="text-center">Público</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @cursos.each do |curso| %>
            <tr>
              <td><%= curso.nome %></td>
              <td class="text-center"><%= curso.ativo? ? 'Sim' : 'Não' %></td>
              <td class="text-center"><%= curso.publico? ? 'Sim' : 'Não' %></td>
              <% if can? :show, Curso %>
                <td><%= link_to 'Visualizar', descricao_path(id: curso.id) %></td>
              <% end %>
              <% if can? :edit, Curso %>
                <td><%= link_to 'Atualizar', edit_curso_path(curso) %></td>
              <% end %>
              <% if can? :destroy, Curso %>
                <td><%= link_to 'Excluir', curso, method: :delete, data: { confirm: 'Deseja realmente excluir o Curso?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @cursos %></span>
  <% end %>

  <br>

  <div class="card-footer text-muted">
    <% if can? :new, Curso %>
      <%= link_to 'Cadastrar Curso', new_curso_path, class: "btn btn-md btn-success" %>
    <% end %>
    <%= link_to 'Voltar', controle_gestor_path, class: "btn btn-md btn-secondary" %>
  </div>
    
</div>