<div class="card">
  <div class="card-header"><%= @curso.nome %></div>

  <% if !@conversas.empty? %>
    <div class="alert alert-danger" role="alert">
      Você possui mensagens não lidas!
    </div>
  <% end %>

  <div id="accordion">
    <% @modulos.each_with_index do |modulo, index| %>
    <div class="card">
      <div class="card-header" id="heading<%= index.to_s %>">
        <h5 class="mb-0">
          <button class="btn btn-link modulo text-white" data-toggle="collapse" data-target="#collapse<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
            Módulo: <%= modulo.nome %> 
          </button>
          <% if can? :edit, Modulo %>
            <%= link_to '', edit_modulo_path(modulo), class: "fa fa-edit text-white" %>
          <% end %>
          <% if can? :destroy, Modulo %>
            <%= link_to '', modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Módulo?' }, class: "fa fa-trash text-white" %>
          <% end %>
        </h5>
      </div>

      <div id="collapse<%= index.to_s %>" class="collapse" aria-labelledby="heading<%= index.to_s %>" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-9 col-sm-9 col-md-9">
              <% if modulo.descricao? %>
                <b> Descrição:</b> <%= modulo.descricao %>
              <% end %>
              <%= render partial: "materiais/materiais", locals: {modulo: modulo} %>
            </div>           

            <div class="col-xl-3 col-sm-3 col-md-3">
              <% if can? :new, Material %>
                <div><%= link_to  ' Inserir Link', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Link'}, class: "fa fa-link" %></div>
                <div><%= link_to  ' Inserir Arquivo', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Arquivo'}, class: "fa fa-file" %></div>
                <div><%= link_to  ' Inserir Vídeo', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Vídeo'}, class: "fa fa-video-camera" %></div>
                <div><%= link_to  ' Inserir Texto', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Texto'}, class: "fa fa-text-width" %></div>
                <div><%= link_to  ' Inserir Imagem', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Imagem'}, class: "fa fa-image" %></div>
              <% end %>
            </div>
          </div>

          <div class="row">

            <div class="col-xl-9 col-sm-9 col-md-9">
              <%= render partial: "missoes/missoes", locals: {modulo: modulo} %>
            </div>
            
          </div>
         
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>