<div class="card">
  <div class="card-header"><%= @curso.nome %></div>

  <% if can? :new, Conteudo %>
    <div class="text-center">
      <br>
      <%= link_to 'Cadastrar Módulo do Curso', {controller: 'conteudos', action: 'new', curso_id: @current_usuario.curso_atual_id}, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>
  <div id="accordion">
    <% @modulos.each_with_index do |modulo, index| %>
    <div class="card">
      <div class="card-header" id="heading<%= index.to_s %>">
        <h5 class="mb-0">
          <button class="btn btn-link modulo" data-toggle="collapse" data-target="#collapse<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
            Módulo: <%= modulo.nome %> 
          </button>
          <% if can? :edit, Conteudo %>
            <%= link_to '', edit_conteudo_path(modulo), class: "fa fa-edit" %>
          <% end %>
          <% if can? :destroy, Conteudo %>
            <%= link_to '', modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Conteúdo?' }, class: "fa fa-trash" %>
          <% end %>
        </h5>
      </div>

      <div id="collapse<%= index.to_s %>" class="collapse" aria-labelledby="heading<%= index.to_s %>" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-10 col-sm-10 col-md-10">
              <% if modulo.descricao? %>
                <b> Descrição:</b> <%= modulo.descricao %>
              <% end %>
              <ul class="list-unstyled">
                <% @materiais.where(conteudo_id: modulo.id).each do |material| %>
                  <li>

                    <% if material.tipo == "Link" %>
                      <%= link_to extlink(material.link), target: "_blank", class: "text-dark" do %>
                        <%= fa_icon "link" %> <%= material.nome %>
                      <% end %>
                    <% end %>

                    <% if material.tipo == "Arquivo" %>
                     <%= link_to material.arquivo.url do %>
                        <i class = "fa fa-file text-dark"> <%= material.nome %></i>
                      <% end %>
                    <% end %>

                    <% if material.tipo == "Vídeo" %>
                      <%= link_to material.video.url do %>
                        <i class = "fa fa-video-camera text-dark"> <%= material.nome %></i>
                      <% end %>
                    <% end %>

                    <% if material.tipo == "Imagem" %>
                      <%= link_to material.imagem.url do %>
                        <i class = "fa fa-image text-dark"> <%= material.nome %></i>
                      <% end %>
                    <% end %>

                    <% if material.tipo == "Texto" %>
                      <%= link_to material do %>
                        <i class = "fa fa-text-width text-dark"> <%= material.nome %></i>
                      <% end %>
                    <% end %>
                    <% if can? :edit, Material %>
                      <%= link_to '', edit_material_path(material), class: "fa fa-edit" %>
                    <% end %>
                    <% if can? :destroy, Material %>
                      <%= link_to '', material, method: :delete, data: { confirm: 'Deseja realmente excluir o Material?' }, class: "fa fa-trash" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              
            </div>           

            <div class="col-xl-2 col-sm-2 col-md-2">
              <div><%= link_to  ' Inserir Link', {controller: 'materiais', action: 'new', conteudo_id: modulo.id, tipo: 'Link'}, class: "fa fa-link" %></div>
              <div><%= link_to  ' Inserir Arquivo', {controller: 'materiais', action: 'new', conteudo_id: modulo.id, tipo: 'Arquivo'}, class: "fa fa-file" %></div>
              <div><%= link_to  ' Inserir Vídeo', {controller: 'materiais', action: 'new', conteudo_id: modulo.id, tipo: 'Vídeo'}, class: "fa fa-video-camera" %></div>
              <div><%= link_to  ' Inserir Texto', {controller: 'materiais', action: 'new', conteudo_id: modulo.id, tipo: 'Texto'}, class: "fa fa-text-width" %></div>
              <div><%= link_to  ' Inserir Imagem', {controller: 'materiais', action: 'new', conteudo_id: modulo.id, tipo: 'Imagem'}, class: "fa fa-image" %></div>
            </div>

          </div>

         
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>