<div class="card">

  <div class="card-header"><%= @curso.nome %></div>
  
  <ul class="list-group">
    <li class="list-group-item"><b>Descrição:</b> <%= @curso.descricao %></li> 
    <li class="list-group-item"><b>Professor principal:</b> <%= @curso.proprietario.nome %></li>
    <% if @curso.data_inicio %> 
      <li class="list-group-item"><b>Date de início:</b> <%= @curso.data_inicio.strftime("%d/%m/%Y") %></li>
    <% end %>
    <% if @curso.data_termino %>
      <li class="list-group-item"><b>Data de término:</b> <%= @curso.data_termino.strftime("%d/%m/%Y") %></li>
    <% end %>
    <% if can? :edit, Curso %>
      <li class="list-group-item"><b>Código de acesso:</b> <%= @curso.codigo_acesso %></li>   
      <li class="list-group-item"><b>Ativo:</b> <%= @curso.ativo? ? 'Sim' : 'Não' %></li>
      <li class="list-group-item"><b>Público:</b> <%= @curso.publico? ? 'Sim' : 'Não' %></li>
      <li class="list-group-item"><b>Cadastrado em:</b> <%= @curso.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>  
      <li class="list-group-item"><b>Tema:</b> <%= @curso.tema_curso.nome %></li>
    <% end %>      
  </ul>

  <% if @perfil.perfil == "Aluno" %>  
    <div class="card-body">
      <div class="row">
        <div class="col-xl-8 col-sm-8 col-md-8 offset-2">
            <div class="card-header">Meu progresso no curso</div>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card-footer text-muted">
    <% if can? :edit, Curso %>
      <%= link_to 'Atualizar', edit_curso_path(@curso), class: "btn btn-md btn-primary" %>
    <% end %>

    <%= link_to 'Continuar curso', {controller: 'cursos', action: 'descricao', id: @curso}, class: "btn btn-md btn-success" %>
  </div>
  
</div>