<div class="card">
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document"></div>
  </div>
  
  <div class="card-header"><%= @curso.nome %></div>

  <% if @perfil.perfil == 'Professor' %>
    <% @curso.alerta.each do |alerta| %>
      <div class="alert alert-danger" role="alert">
        <%= alerta %>
      </div>
    <% end %>
  <% end %>

  <% if !@conversas.empty? %>
    <div class="alert alert-danger" role="alert">
      Você possui mensagens não lidas! <%= link_to 'Verificar Mensagens!', conversas_path %>
    </div>
  <% end %>

  <% if @perfil.perfil == 'Aluno' and @perfil.pode_finalizar_curso and @perfil.status_curso != 'Curso finalizado' %>
    <div class="text-center">
      <br>
      <%= link_to 'Finalizar Curso', finalizar_curso_path(id: @perfil.id), class: "btn btn-md btn-success" %>
    </div>
  <%end %>

  <% if @perfil.perfil == 'Aluno' %> 
    <% if @perfil.aprovado == true %>
      <%#= link_to 'Gerar Certificado', gerar_certificado_path(format: :pdf), {class: "btn btn-md btn-warning"} %>
      <div class="alert alert-success">
        Curso concluído! Você foi aprovado com sucesso! <br>
        Em breve você receberá o seu certificado no e-mail cadastrado no AGILE.
      </div>
    <% end %>
    <% if @perfil.aprovado == false %>
       <div class="alert alert-danger">Curso concluído! Infelizmente você não conseguiu atingir a pontuação necessária para aprovação.</div>
    <% end %>
  <% end %>

  <div class="text-center">
    <br>
    <% if can? :new, Modulo %>
      <%= link_to 'Cadastrar Módulo', new_modulo_path, class: "btn btn-md btn-primary" %>
    <% end %>
    <% if @perfil and @perfil.perfil == "Aluno" %>
      <% if @perfil.curso.grupos_cursos and !@perfil.grupo_curso_id %>
        <div class="alert alert-danger">Por favor, escolha sua Equipe clicando na opção "Escolher Equipe" no menu lateral esquerdo!</div>
      <% end %>
      <div class="alert alert-info"> Clique no Módulo para visualizar o conteúdo!</div>
    <% end %>
  </div>
 
  <div id="accordion">
    <% if @perfil.perfil != 'Aluno' %>
      <div id="modulos" class="list-group" data-url="<%= sort_modulos_path %>">
    <% else %>
      <div class="list-group">
    <% end %>
      <% @modulos.order(:position).each_with_index do |modulo, index| %>
        <div id=modulo_<%= modulo.id %> class="modulo"> 
          <div class="card">
          
            <div class="card-header" id="heading<%= index.to_s %>">
              <h5 class="mb-0">
                <button class="btn btn-link modulo text-white" data-toggle="collapse" data-target="#collapse<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
                  Módulo <%= index + 1 %>: <%= modulo.nome %> 
                </button>
                <% if can? :edit, Modulo %>
                  <%= link_to '', edit_modulo_path(modulo), class: "fa fa-edit text-white" %>
                <% end %>
                <% if can? :destroy, Modulo %>
                  <%= link_to '', modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Módulo?' }, class: "fa fa-trash text-white" %>
                <% end %>
              </h5>
            </div>
          
            <div id="collapse<%= index.to_s %>" class="collapse" aria-labelledby="heading<%= index.to_s %>" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-9 col-sm-9 col-md-9">
                    <% if @perfil.perfil != 'Aluno' %>
                      <div id="modulos_ordenacoes" class="list-group" data-url="<%= sort_modulos_ordenacoes_path %>">
                    <% else %>
                      <div class="list-group">
                    <% end %>
                      
                    <% ModuloOrdenacao.where(modulo_id: modulo.id).order(:position).each do |modulo_ordenacao| %>
                     
                        <% if modulo_ordenacao.classe == 'Missao' and (modulo_ordenacao.objeto.publico? or @perfil.perfil != 'Aluno') %>
                          <%= render 'missoes/missao', modulo_ordenacao: modulo_ordenacao  %>
                        <% end %>

                        <% if modulo_ordenacao.classe == 'Dialogo' %>
                          <%= render 'dialogos/dialogo', modulo_ordenacao: modulo_ordenacao  %>
                        <% end %>

                        <% if modulo_ordenacao.classe == 'Explicacao' %>
                          <%= render 'explicacoes/explicacao', modulo_ordenacao: modulo_ordenacao  %>
                        <% end %>

                        <% if modulo_ordenacao.classe == 'Material'  and (modulo_ordenacao.objeto.publico? or @perfil.perfil != 'Aluno' )%>
                          <%= render 'materiais/material', modulo_ordenacao: modulo_ordenacao  %>
                        <% end %>

                        <% if modulo_ordenacao.classe == 'Forum' %>
                          <%= render 'foruns/forum', modulo_ordenacao: modulo_ordenacao  %>
                        <% end %>
                    
                    <% end %>
                      
                  </div>
              
                  </div>           
                  
                  <% if @perfil.perfil != 'Aluno' %>
                    <div class="col-xl-3 col-sm-3 col-md-3 alert alert-primary">
                      <div class="text-center alert bg-info text-white font-weight-bold">Recursos</div>
                      <ul class="list-unstyled ">
                        <% if can? :new, Material %>
                          <li ><%= link_to  ' Inserir Link', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Link'}, class: "fa fa-link" %></li>
                          <li><%= link_to  ' Inserir Arquivo', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Arquivo'}, class: "fa fa-file" %></li>
                          <li><%= link_to  ' Inserir Vídeo', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Vídeo'}, class: "fa fa-video-camera" %></li>
                          <li><%= link_to  ' Inserir Texto', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Texto'}, class: "fa fa-text-width" %></li>
                          <li><%= link_to  ' Inserir Imagem', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Imagem'}, class: "fa fa-image" %></li>
                        <% end %>
                        <% if can? :new, Missao %>
                          <li><%= link_to  ' Inserir Missão', {controller: 'missoes', action: 'new', modulo_id: modulo.id}, class: "fa fa-diamond" %></li>
                        <% end %>
                        <% if can? :new, Explicacao %>
                          <li><%= link_to  ' Inserir Explicação', {controller: 'explicacoes', action: 'new', modulo_id: modulo.id}, class: "fa fa-lightbulb-o" %></li>
                        <% end %>
                        <% if can? :new, Dialogo %>
                          <li><%= link_to  ' Inserir Diálogo', {controller: 'dialogos', action: 'new', modulo_id: modulo.id}, class: "fa fa-commenting-o" %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
