<div class="card">
  <div class="card-header"><%= @curso.nome %></div>

  <% if @perfil.perfil == 'Professor' %>
    <% @curso.alerta.each do |alerta| %>
      <div class="alert alert-danger" role="alert">
        <%= alerta %>
      </div>
    <% end %>
  <% end %>


  <% if !@conversas.empty? %>
    <div class="alert alert-danger" role="alert">
      Você possui mensagens não lidas!
    </div>
  <% end %>

 
  <div id="accordion">
    <% @modulos.each_with_index do |modulo, index| %>
    <div class="card">
      <div class="card-header" id="heading<%= index.to_s %>">
        <h5 class="mb-0">
          <button class="btn btn-link modulo text-white" data-toggle="collapse" data-target="#collapse<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
            Módulo: <%= modulo.nome %> 
          </button>
          <% if can? :edit, Modulo %>
            <%= link_to '', edit_modulo_path(modulo), class: "fa fa-edit text-white" %>
          <% end %>
          <% if can? :destroy, Modulo %>
            <%= link_to '', modulo, method: :delete, data: { confirm: 'Deseja realmente excluir o Módulo?' }, class: "fa fa-trash text-white" %>
          <% end %>
        </h5>
      </div>
      
      <div id="collapse<%= index.to_s %>" class="collapse" aria-labelledby="heading<%= index.to_s %>" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-9 col-sm-9 col-md-9">
              <% if modulo.descricao? %>
                <b> Descrição:</b> <%= modulo.descricao %>
              <% end %>

              <% ModuloOrdenacao.where(modulo_id: modulo.id).order('indice').each do |ordem_modulo| %>

                <ul class="list-unstyled">

                  <% if ordem_modulo.objeto.class == Missao and (ordem_modulo.objeto.publico? or @perfil.perfil != 'Aluno') %>
                    <%= render 'missoes/missao', ordem_modulo: ordem_modulo  %>
                  <% end %>

                  <% if ordem_modulo.objeto.class == Dialogo %>
                    <%= render 'dialogos/dialogo', ordem_modulo: ordem_modulo  %>
                  <% end %>

                  <% if ordem_modulo.objeto.class == Explicacao %>
                    <%= render 'explicacoes/explicacao', ordem_modulo: ordem_modulo  %>
                  <% end %>

                  <% if ordem_modulo.objeto.class == Material  and (ordem_modulo.objeto.publico? or @perfil.perfil != 'Aluno' )%>
                    <%= render 'materiais/material', ordem_modulo: ordem_modulo  %>
                  <% end %>

                </ul>
              
              <% end %>

            </div>           
            
            <div class="col-xl-3 col-sm-3 col-md-3 alert alert-primary">
              <div class="text-center alert bg-info text-white font-weight-bold">Recursos</div>
              <ul class="list-unstyled ">
                <% if can? :new, Material %>
                  <li ><%= link_to  ' Inserir Link', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Link'}, class: "fa fa-link" %></li>
                  <li><%= link_to  ' Inserir Arquivo', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Arquivo'}, class: "fa fa-file" %></li>
                  <li><%= link_to  ' Inserir Vídeo', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Vídeo'}, class: "fa fa-video-camera" %></li>
                  <li><%= link_to  ' Inserir Texto', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Texto'}, class: "fa fa-text-width" %></li>
                  <li><%= link_to  ' Inserir Imagem', {controller: 'materiais', action: 'new', modulo_id: modulo.id, tipo: 'Imagem'}, class: "fa fa-image" %></li>
                <% end %>
                <% if can? :new, Missao %>
                  <li><%= link_to  ' Inserir Missão', {controller: 'missoes', action: 'new', modulo_id: modulo.id}, class: "fa fa-diamond" %></li>
                <% end %>
                <% if can? :new, Explicacao %>
                  <li><%= link_to  ' Inserir Explicação', {controller: 'explicacoes', action: 'new', modulo_id: modulo.id}, class: "fa fa-lightbulb-o" %></li>
                <% end %>
                <% if can? :new, Dialogo %>
                  <li><%= link_to  ' Inserir Diálogo', {controller: 'dialogos', action: 'new', modulo_id: modulo.id}, class: "fa fa-commenting-o" %></li>
                <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
