<%= form_with(model: grupo, local: true) do |form| %>
  <% if grupo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(grupo.errors.count, "erro(s)") %> - Grupo não pôde ser salvo!</h2>

      <ul>
      <% grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Nome*</label>
      <div class="col-md-9">
        <%= form.text_field :nome, autofocus: true, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Imagem*</label>
      <div class="col-md-9">
        <%= form.file_field :imagem %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Perfil*</label>
      <div class="col-md-9">
        <%= form.select :perfil,  options_for_select([["Aluno", "Aluno"], ["Professor", "Professor"]]), class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-3" for="gridCheck1">Ativo</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :ativo, class: "form-check-input" %> Sim
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', grupos_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
