<div class="card">
  <div class="card-header">Grupos</div>

  <%= search_form_for @q do |f| %>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
            <%= f.search_field :nome_cont, :class => 'form-control'  %>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Ativo</span>
            </div>
            <span class="input-group-text borda">
              <%= f.select :ativo_eq,   [['Sim', true], ['Não', false]], :include_blank => "Todos", :class => 'form-control', id: 'custom-select' %>
            </span>
          </div>
        </div>
      </div>     
    </div>
    <div class="text-center">
      <button class="btn btn-primary link search-btn" ><% submit_tag "" %>Pesquisar</button>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Ativo</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @grupos.each do |grupo| %>
          <tr>
            <td><%= grupo.nome %></td>
            <td><%= grupo.ativo? ? 'Sim' : 'Não' %></td>
            <% if can? :show, Grupo %>
              <td><%= link_to 'Visualizar', grupo %></td>
            <% end %>
            <td>
              <% if can? :edit, Grupo %>
                <%= link_to 'Atualizar', edit_grupo_path(grupo) %>
              <% else%> - 
              <% end %>
            <td>
              <% if can? :Destroy, Grupo %>
                <%= link_to 'Excluir', grupo, method: :delete, data: { confirm: 'Deseja realmente excluir o Grupo?' } %>
              <% else%> - 
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @grupos %></span>

  <br>

  <% if can? :new, Grupo %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Grupo', new_grupo_path, class: "btn btn-md btn-primary" %>
      <%= link_to 'Voltar', controle_gestor_path, class: "btn btn-md btn-secondary" %>
    </div>
  <% end %>

</div>