<div class="card">

	<div class="card-header">Grupo
	    <% if can? :edit, Grupo %>
	      <%= link_to '', edit_grupo_path(@grupo), class: "fa fa-edit text-white" %>
	    <% end %>
	    <% if can? :destroy, Grupo %>
	      <%= link_to '', @grupo, method: :delete, data: { confirm: 'Deseja realmente excluir o Grupo?' }, class: "fa fa-trash text-white" %>
	    <% end %>
	</div>

   	<div class="card-body">

	    <div class="row">
	      	<div class="col-lg-4">
	        	<div class="input-group mb-3">
	        		<%= image_tag @grupo.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
	       		</div>
	      	</div>

	      	<div class="col-lg-8">
		        <div class="input-group mb-3">
		        	<p> 
			          	<label>Nome: </label>          
			          	<%= @grupo.nome %>
		        	</p>
		        </div>

		        <div class="input-group mb-3">
		          	<p>
		          		<label>Ativo: </label>          
		          		<%= @grupo.ativo? ? 'Sim' : 'Não' %>
		      		</p>
		        </div>

		        <div class="input-group mb-3">
		          	<p>
		          		<label>Perfil: </label>          
		          		<%= @grupo.perfil %>
		      		</p>
		        </div>
		        
		        <div class="input-group mb-3">
		            <p>
		            	<label>Cadastrado em: </label>          
		        		<%= @grupo.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
		        	</p>
		        </div>

		        <div class="input-group mb-3">
		            <p>
		            	<label>Atualizado em: </label>          
		        		<%= @grupo.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %>
		        	</p>
		        </div>
	    	</div>
	    </div>

	</div>

	<br>
	<% if not @avatares.empty? %>

		<div class="card-header">Avatares</div>
		<div class="table-responsive">
		    <table class="table table-striped table-sm">
		      	<thead class="thead-dark">
			        <tr>
			          <th class="text-center">Nome</th>
			          <th class="text-center">Imagem</th>
			          <th class="text-center">Perfil</th>
			          <th colspan="3" class="text-center">Opções</th>
			        </tr>
			    </thead>
		      	<tbody>
			        <% @avatares.each do |avatar| %>
			          <tr>
			          	<td><%= avatar.nome %></td>
			          	<td><%= image_tag avatar.imagem.variant(resize: "200x200"), class: "img-responsive img-thumbnail" %></td>
			            <td class="text-center"><%= avatar.perfil %></td>
			            <% if can? :show, Avatar %>
			              <td><%= link_to 'Visualizar', avatar %></td>
			            <% end %>
			            <% if can? :edit, Avatar %>
			              <td><%= link_to 'Atualizar', edit_avatar_path(avatar) %></td>
			            <% end %>
			            <% if can? :destroy, Avatar %>
			              <td><%= link_to 'Excluir', avatar, method: :delete, data: { confirm: 'Deseja realmente excluir o Avatar do Grupo?' } %></td>
			            <% end %>
			          </tr>
			        <% end %>
		      	</tbody>
		    </table>
		</div>
	<% end %>

	<div class="card-footer text-muted">
		<% if can? :new, Avatar %>
			<%= link_to 'Adicionar Avatar', {controller: "avatares", action: "new", grupo_id: @grupo.id}, class: "btn btn-md btn-success" %>
		<% end %>
	  <%= link_to 'Voltar', grupos_path, class: "btn btn-md btn-secondary" %>
	</div>
</div>
