<%= form_with(model: atividade, local: true) do |form| %>
  <% if atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :modulo_id %>
  <div class="card-body">

    <div class="form-group row">
      <label for="inputPontuacao" class="col-md-2 offset-md-2 col-form-label">Pontuação*</label>
      <div class="col-sm-2">
        <%= form.number_field :pontuacao, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Descrição</label>
      <div class="col-md-6">
        <%= form.cktext_area :descricao, autofocus: true, class: "form-control" %>
      </div>
    </div>

  </div>


  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', modulos_path, class: "btn btn-md btn-secondary" %>
  </div>
<% end %>
