<div class="card">

  <div class="card-header">Atividade
    <% if can? :edit, Atividade %>
      <%= link_to '', edit_atividade_path(@atividade), class: "fa fa-edit text-white" %>
    <% end %>
    <% if can? :destroy, Atividade %>
      <%= link_to '', @atividade, method: :delete, data: { confirm: 'Deseja realmente excluir o Atividade?' }, class: "fa fa-trash text-white" %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <ul class="list-group">
        <li class="list-group-item"><b>Pontuação:</b> <%= @atividade.pontuacao %></li>
        <li class="list-group-item"><b>Descrição:</b> <%= @atividade.descricao.to_s.html_safe %></li>
        <li class="list-group-item"><b>Módulo:</b> <%= link_to @atividade.modulo.nome, @atividade.modulo %></li>
        <li class="list-group-item"><b>Cadastrada por:</b> <%= @atividade.usuario_curso.nickname %></li>
        <li class="list-group-item"><b>Cadastrada em:</b> <%= @atividade.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li> 
      </ul>
    </div>
  </div>
  
  <br>
  
  <div class="card-footer text-muted">
    <%= link_to 'Voltar', @atividade.modulo.curso, class: "btn btn-md btn-secondary" %>
  </div>
</div>