<%= form_with(model: evento, local: true) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(evento.errors.count, "erro(s)") %> - Evento não pôde ser salvo!</h2>
      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :curso_id %>

  <div class="card-body">  

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Nome*</label>
      <div class="col-md-8">
        <%= form.text_field :nome, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Descrição*</label>
      <div class="col-md-8">
        <%= form.cktext_area :descricao, class: "form-control"%>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Data*</label>
      <div class="col-md-3">
        <%= form.date_field :data, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-1 col-form-label">Hora*</label>
      <div class="col-md-2">
        <%= form.time_field :hora, value: @evento.hora.try(:strftime,"%H:%M"), class: "form-control" %>
      </div>
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', eventos_path, class: "btn btn-md btn-secondary" %>
  </div>
<%end%>
