<div class="card">
  <div class="card-header">Eventos do Curso</div>

  <% if !@eventos.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark"> 
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Data</th>
            <th class="text-center">Hora</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @eventos.each do |evento| %>
            <tr>
              <td><%= evento.nome %></td>
              <td><%= evento.data.strftime("%d/%m/%Y") %></td>
              <td><%= evento.hora.strftime("%H:%M:%S") %></td>
              <% if can? :show, Evento %>
                <td><%= link_to 'Visualizar', evento %></td>
              <% end %>
              <% if can? :edit, Evento %>
               <td><%= link_to 'Atualizar', edit_evento_path(evento) %></td>
              <% end %>
              <% if can? :cancelar_evento, :evento and evento.evento_no_prazo %>
                <td><%= link_to 'Cancelar', cancelar_evento_url(id: evento), data: { confirm: 'Deseja realmente cancelar o Evento?' }, class: 'btn btn-sm btn-danger' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @eventos %></span>
  <% else %>
    <div class="alert alert-danger">Não há Eventos cadastrados!</div>
  <% end %>

  <br>

  <% if can? :new, Evento %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Evento', {controller: 'eventos', action: 'new'}, class: "btn btn-md btn-success" %>
    </div>
  <% end %>

</div>

