<%= form_with(model: avaliacao_tarefa, local: true) do |form| %>
  <% if avaliacao_tarefa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avaliacao_tarefa.errors.count, "error") %> prohibited this avaliacao_tarefa from being saved:</h2>

      <ul>
      <% avaliacao_tarefa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tarefa_aluno_id %>
    <%= form.text_field :tarefa_aluno_id %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario %>
  </div>

  <div class="field">
    <%= form.label :usuario_curso_id %>
    <%= form.text_field :usuario_curso_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
