<div class="card">

  <div class="card-header">Avaliação de Tarefas </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Tarefa</th>
          <th class="text-center">Aluno</th>
          <th class="text-center">Nota</th>
          <th colspan="3">Opções</th>
        </tr>
      </thead>

      <tbody>
        <% @avaliacao_tarefa.each do |avaliacao_tarefa| %>
          <tr>
            <td><%= avaliacao_tarefa.tarefa_aluno.tarefa.nome %></td>
            <td><%= avaliacao_tarefa.usuario_curso.nickname %></td>
            <td><%= avaliacao_tarefa.nota %></td>
            <% if can? :show, AvaliacaoTarefa %>
              <td><%= link_to 'Visalizar', avaliacao_tarefa %></td>
            <% end %>
            <% if can? :edit, AvaliacaoTarefa %>
              <td><%= link_to 'Atualizar', edit_avaliacao_tarefa_path(avaliacao_tarefa) %></td>
            <% end %>
            <% if can? :destroy, AvaliacaoTarefa %>
              <td><%= link_to 'Excluir', avaliacao_tarefa, method: :delete, data: { confirm: 'Deseja realmente excluir a Avaliação da Tarefa?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

</div>
