<div class="card">

	<div class="card-header">Avaliação da Tarefa</div>

	<ul class="list-group">
		<li class="list-group-item"><b>Nome da tarefa:</b> <%= @avaliacao_tarefa.tarefa_aluno.tarefa.nome %></li>
	   <li class="list-group-item"><b>Descrição da tarefa:</b> <%= @avaliacao_tarefa.tarefa_aluno.tarefa.descricao.to_s.html_safe %></li>
	   <li class="list-group-item"><b>Aluno:</b> <%= @avaliacao_tarefa.tarefa_aluno.usuario_curso.nickname %></li>
	   <li class="list-group-item"><b>Arquivo:</b> <%= link_to image_tag("documento.png", :alt => "documento", size: "50x50"), @avaliacao_tarefa.tarefa_aluno.arquivo.url, target: 'blank' %></li>
	   <li class="list-group-item"><b>Nota máxima:</b> <%= @avaliacao_tarefa.tarefa_aluno.tarefa.missao.pontuacao %></li>
	   <li class="list-group-item"><b>Nota do aluno:</b> <%= @avaliacao_tarefa.nota %></li>
	   <li class="list-group-item"><b>Comentário:</b> <%= @avaliacao_tarefa.comentario %></li>
	   <li class="list-group-item"><b>Realizada por:</b> <%= @avaliacao_tarefa.tarefa_aluno.usuario_curso.nickname %></li>
       <li class="list-group-item"><b>Última atualização:</b> <%= @avaliacao_tarefa.tarefa_aluno.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
	</ul>

	<div class="card-footer text-muted">
	  <% if can? :edit, AvaliacaoTarefa %>
	    <%= link_to 'Atualizar', edit_avaliacao_tarefa_path(@avaliacao_tarefa), class: "btn btn-md btn-primary" %>
	  <% end %>
	  <%= link_to 'Voltar', avaliacao_tarefa_index_path, class: "btn btn-md btn-secondary" %>
	</div>

</div>
