<%= render partial: "answers/errors", locals: {answer: answer} %>


<li><b><%= @contador +=1 %>- <%= answer.question.pergunta %><% if answer.question.rules[:presence] == "1" %>*<% end %></b></li>

<%= f.fields_for :resposta do |af| %>
	<%- answer.question.options.each do |option| %>
	<li>
		<%= af.label option do %>
			<%= af.check_box nil, { id: nil, checked: checkbox_checked?(answer, option) }, option %>
			<%= option %>
		<% end %>
	</li>
	<% end %>
<% end %>
	

