<%= render partial: "answers/errors", locals: {answer: answer} %>

	<tr>
		<td><b><%= @contador +=1 %>- <%= answer.question.pergunta %><% if answer.question.rules[:presence] == "1" %>*<% end %></b></td>
	</tr>
	<%- answer.question.options.each do |option| %>
	<tr>
		<td>
	  <%= f.label "resposta_#{option}", option do %>
		<%= f.radio_button :resposta, option %>
		<%= option %>
		</td>
	</tr>
	  <% end %>
	<% end %>
