<%= form_with(model: avatar, local: true) do |form| %>
  <% if avatar.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(avatar.errors.count, "erro(s)") %> - Avatar não pôde ser salvo!</h2>

      <ul>
      <% avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <%= form.hidden_field :grupo_id %>
    
  
    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Grupo*</label>
      <div class="col-md-9">
        <%= @avatar.grupo.nome %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Perfil*</label>
      <div class="col-md-9">
        <%= @avatar.grupo.perfil %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Nome*</label>
      <div class="col-md-9">
        <%= form.text_field :nome, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNome" class="col-md-3 col-form-label">Imagem*</label>
      <div class="col-md-9">
        <%= form.file_field :imagem, as: :file %>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-check-label col-md-3" for="gridCheck1">Ativo</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :ativo, class: "form-check-input" %> Sim
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>
