<div class="card">

  <div class="card-header">Avatar do Tema do Curso</div>

  <ul class="list-group">
    <li class="list-group-item"><%= image_tag @avatar.imagem.url(:thumb), class: "img-responsive img-thumbnail" %></li>
    <li class="list-group-item"><b>Tema do curso:</b> <%= @avatar.tema_curso.nome %></li>
    <li class="list-group-item"><b>Nome:</b> <%= @avatar.nome %></li>
    <li class="list-group-item"><b>Perfil:</b> <%= @avatar.perfil %></li>
    <li class="list-group-item"><b>Ativo:</b> <%= @avatar.ativo? ? 'Sim' : 'Não' %></li>  
    <li class="list-group-item"><b>Cadastrado em:</b> <%= @avatar.created_at.strftime("%d/%m/%Y") %></li>     
  </ul>

  <br>
  <div class="card-footer text-muted">
    <% if can? :edit, Avatar %>
      <%= link_to 'Atualizar', edit_avatar_path(@avatar), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar',  @avatar.tema_curso, class: "btn btn-md btn-secondary" %>
  </div>

</div>