<div class="card">

  <div class="card-header">Avatar</div>

  <div class="card-body">

      <div class="row">
          <div class="col-lg-3">
            <div class="input-group mb-3">
              <%= image_tag @avatar.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
            </div>
          </div>

          <div class="col-lg-9">
            <div class="input-group mb-3">
              <p> 
                <label>Nome: </label>          
                <%= @avatar.nome %>
              </p>
            </div>

            <div class="input-group mb-3">
              <p>
                <label>Grupo: </label>          
                <%= @avatar.grupo.nome %>
              </p>
            </div>

            <div class="input-group mb-3">
              <p>
                <label>Perfil: </label>          
                <%= @avatar.perfil %>
              </p>
            </div>

            <div class="input-group mb-3">
              <p>
                <label>Ativo: </label>          
                <%= @avatar.ativo? ? 'Sim' : 'Não' %>
              </p>
            </div>
            
            <div class="input-group mb-3">
              <p>
                <label>Cadastrado em: </label>          
                <%= @avatar.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
              </p>
            </div>

            <div class="input-group mb-3">
              <p>
                <label>Atualizado em: </label>          
                <%= @avatar.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %>
              </p>
            </div>
        </div>
      </div>

  </div>

  <br>
  <div class="card-footer text-muted">
    <% if can? :edit, Avatar %>
      <%= link_to 'Atualizar', edit_avatar_path(@avatar), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar',  @avatar.grupo, class: "btn btn-md btn-secondary" %>
  </div>

</div>