<div class="card">
  <div class="card-header">Chats do Curso</div>

  <% if !@salas_chat.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Equipe</th>
            <th class="text-center">Ativa</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @salas_chat.each do |sala_chat| %>
            <tr>
              <td><%= sala_chat.nome %></td>
              <% if sala_chat.usuario_curso.perfil == 'Professor' %>
                <td>Todas</td>
              <% else %>
                <td><%= sala_chat.usuario_curso.grupo_curso.nome_curso %></td>
              <% end %>
              <td><%= sala_chat.ativo? ? 'Sim' : 'Não' %></td>
              <% if @perfil.perfil == 'Professor' %>
                <td><%= link_to 'Acessar', sala_chat, {class: 'btn btn-sm btn-success'} %></td>
              <% elsif @perfil.grupo_curso and sala_chat.usuario_curso.grupo_curso.nome_curso == @perfil.grupo_curso.nome_curso %>
                <td><%= link_to 'Acessar', sala_chat, {class: 'btn btn-sm btn-success'} %></td>
              <% else %>
                <td>Restrito à Equipe</td>
              <% end %>
              <% if can? :edit, SalaChat and @perfil.id == sala_chat.usuario_curso.id %>
                <td><%= link_to 'Atualizar', edit_sala_chat_path(sala_chat) %></td>
              <% end %>
              <% if can? :destroy, SalaChat %>
                <td><%= link_to 'Excluir', sala_chat, method: :delete, data: { confirm: 'Deseja realmente excluir a sala de Chat?' } %></td>
              <% end %>              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @salas_chat %></span>
  <% else %>
    <div class="alert alert-danger">Não há Salas de Chat cadastradas!</div>
  <% end %>

  <br>

  <% if can? :new, SalaChat and @perfil.grupo_curso %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Sala de chat', {controller: 'salas_chat', action: 'new', curso_id: @current_usuario.curso_atual_id}, class: "btn btn-md btn-primary" %>
    </div>
  <% end %>

</div>
