<h2>Área de administração</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <label for="inputEmail">E-mail</label>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>    
  </div>


  <div class="form-group">
    <label for="inputEmail">Senha</label>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>    
  </div>

  <div class="actions">
    <%= f.submit "Acessar", class: "btn btn-lg btn-primary btn-block" %>
  </div>

<% end %>

<br>
<div class="text-center">
  <%= render "admins/shared/links" %>
</div>

