<div class="card">

  <div class="card-header">Quiz</div>

  <ul class="list-group">
    <li class="list-group-item"><b>Nome:</b> <%= @quiz.nome %></li>
    <li class="list-group-item"><b>Descrição:</b> <%= @quiz.descricao %></li>
    <li class="list-group-item"><b>Máximo de tentativas:</b> <%= @quiz.max_tentativas %></li>
    <% if @quiz.data_inicio %>
      <li class="list-group-item"><b>Data de início:</b> <%= @quiz.data_inicio.strftime("%d/%m/%Y") %></li>
    <% end %>
    <% if @quiz.data_termino %>
      <li class="list-group-item"><b>Data de término:</b> <%= @quiz.data_termino.strftime("%d/%m/%Y") %></li>
    <% end %>
    <li class="list-group-item"><b>Cadastrado por:</b> <%= @quiz.usuario_curso.nickname %></li>
    <li class="list-group-item"><b>Cadastrada em:</b> <%= @quiz.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>     
  </ul>

  <br>

  <div class="card-footer text-muted">
    <% if can? :edit, Quiz %>
      <%= link_to 'Atualizar', edit_quiz_path(@quiz), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>
</div>
