<p id="notice"><%= notice %></p>

<h1>Aluno Resposta</h1>

<table>
  <thead>
    <tr>
      <th>Aluno curso</th>
      <th>Respostas perguntas</th>
      <th>Correta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aluno_resposta.each do |aluno_respostum| %>
      <tr>
        <td><%= aluno_respostum.aluno_curso %></td>
        <td><%= aluno_respostum.respostas_perguntas %></td>
        <td><%= aluno_respostum.correta %></td>
        <td><%= link_to 'Show', aluno_respostum %></td>
        <td><%= link_to 'Edit', edit_aluno_respostum_path(aluno_respostum) %></td>
        <td><%= link_to 'Destroy', aluno_respostum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aluno Respostum', new_aluno_respostum_path %>
