<div class="card">
  <div class="card-header">Artefatos</div>

  <div class="alert alert-danger">
    <p>Atenção! O cadastro de Artefato deve ser feito na página de visualização do Tema do Curso ao qual este pertencerá!</p>
  </div>

  <%= search_form_for @q do |f| %>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-9">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
            <%= f.search_field :nome_cont, :class => 'form-control'  %>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Ativo</span>
            </div>
            <%= f.select :ativo_eq,   [['Sim', true], ['Não', false]], :include_blank => "Todos", :class => 'form-control', id: 'custom-select' %>
          </div>
        </div>
      </div>     
    </div>
    
    <div class="text-center">
      <button class="btn btn-primary link search-btn" ><% submit_tag "" %>Pesquisar</button>
    </div>
  <% end %>

  <% if !@artefatos.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Pontos requeridos</th>
            <th class="text-center">Ativo</th>
            <th class="text-center">Imagem</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @artefatos.each do |artefato| %>
            <tr>
              <td><%= artefato.nome %></td>
              <td><%= artefato.pontos_requeridos %></td>
              <td><%= artefato.ativo? ? 'Sim' : 'Não' %></td>
              <td><%= image_tag artefato.imagem.variant(resize: "150x150"), class: "img-responsive" %></td>
              <td><%= link_to 'Visualizar', artefato %></td>
              <td>
                <% if can? :edit, Artefato %>
                  <%= link_to 'Atualizar', edit_artefato_path(artefato) %>
                <% else%> - 
                <% end %>
              <td>
                <% if can? :Destroy, Artefato %>
                  <%= link_to 'Excluir', artefato, method: :delete, data: { confirm: 'Deseja realmente excluir o Artefato?' } %>
                <% else%> - 
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @artefatos %></span>
  <% end %>

  <br>

  <div class="card-footer text-muted">
    <%= link_to 'Voltar', inicial_path, class: "btn btn-md btn-secondary" %>
  </div>
  

</div>