<div class="card">

  <div class="card-header">Artefato
    <% if can? :edit, Artefato %>
      <%= link_to '', edit_artefato_path(@artefato), class: "fa fa-edit text-white" %>
    <% end %>
    <% if can? :destroy, Artefato %>
      <%= link_to '', @artefato, method: :delete, data: { confirm: 'Deseja realmente excluir o Artefato?' }, class: "fa fa-trash text-white" %>
    <% end %>
  </div>

  <div class="card-body">

    <div class="row">

      <div class="col-lg-4">
        <div class="input-group mb-3">
          <%= image_tag @artefato.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %>
        </div>
      </div>

      <div class="col-lg-8">

        <div class="input-group mb-3">
          <p>
            <label>Nome: </label>          
            <%= @artefato.nome %>
          </p>
        </div>

        <div class="input-group mb-3">
          <p>
            <label>Pontos requeridos: </label>          
            <%= @artefato.pontos_requeridos %>
          </p>
        </div>

        <div class="input-group mb-3">
          <p>
            <label>Tema do curso: </label>          
            <%= link_to @artefato.tema_curso.nome, @artefato.tema_curso %>
          </p>
        </div>

        <div class="input-group mb-3">
          <p>
            <label>Ativo: </label>          
            <%= @artefato.ativo? ? 'Sim' : 'Não' %>
          </p>
        </div>

        <div class="input-group mb-3">
          <p>
            <label>Cadastrado em: </label>          
            <%= @artefato.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
          </p>
        </div>

        <div class="input-group mb-3">
          <p>
            <label>Atualizado em: </label>          
            <%= @artefato.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %>
          </p>
        </div>

      </div>

    </div>
  </div>

  <br>
  <div class="card-footer text-muted">
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>

</div>