<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @area.nome %>
</p>

<p>
  <strong>Ativa:</strong>
  <%= @area.ativa %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
