<div class="card">
  <div class="card-header">Comunicados</div>

  <div class="alert alert-info">   
    <p>Os comunicados são enviados por <b>e-mail</b> a <b>todos</b> os participantes do curso!</p>
  </div>

  <% if !@comunicados.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Assunto</th>
            <th class="text-center">Data de envio</th>
            <th class="text-center">Opção</th>
          </tr>
        </thead>
        <tbody>
          <% @comunicados.each do |comunicado| %>
            <tr>
              <td><%= comunicado.assunto %></td>
              <td><%= comunicado.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></td>
              <td><%= link_to 'Visualizar', comunicado %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @comunicados %></span>
  <% else %>
    <div class="alert alert-danger">Não há Comunicados cadastrados!</div>
  <% end %>

  <br>

  <% if can? :new, Comunicado %>
    <div class="card-footer text-muted">
      <%= link_to 'Enviar Comunicado', {controller: 'comunicados', action: 'new', curso_id: @perfil.curso_id}, class: "btn btn-md btn-success" %>
    </div>
  <% end %>

</div>

