<h2>Alterar senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <label for="inputEmail">Nova senha</label>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>    
  </div>

  <div class="form-group">
    <label for="inputEmail">Confirmar senha</label>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>    
  </div>

  <div class="actions">
    <%= f.submit "Alterar minha senha", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<br>
<div class="text-center">
  <%= render "usuarios/shared/links" %>
</div>


