<h1><%= @sala_chat.nome %></h1>

<div id="mensagens" data-sala-chat-id="<%= @sala_chat.id %>">
  <%= render @sala_chat.mensagens %>
</div>

<hr>

<%= form_for @mensagem, url: '#', method: 'get' do |f| %>
  <%= hidden_field_tag 'sala_chat_id', @sala_chat.id %>
  <div class="form-group">
    <%= f.label :texto %>
    <%= f.text_area :texto, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Enviar", class: 'btn btn-primary btn-lg' %>
<% end %>