<%= form_with(model: tarefa_aluno, local: true) do |form| %>
  <% if tarefa_aluno.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(tarefa_aluno.errors.count, "erro(s)") %> Tarefa não pôde ser enviada!</h2>

      <ul>
      <% tarefa_aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :tarefa_id %>
  <%= form.hidden_field :usuario_curso_id %>

  <div class="card_body">

    <div class="form-group row">
      <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Tarefa</label>
      <div class="col-md-6">
        <%= @tarefa_aluno.tarefa.nome %> 
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Descrição da tarefa</label>
      <div class="col-md-6">
        <%= @tarefa_aluno.tarefa.descricao.to_s.html_safe %> 
      </div>
    </div>
  
    <div class="form-group row">
      <label for="inputDescricao" class="col-md-2 offset-md-2 col-form-label">Arquivo*</label>
      <div class="col-md-6">
        <%= form.file_field :arquivo, as: :file %> 
        <p class="text-secondary">Somente arquivos em PDF (máx. 10MB).</p>
      </div>
    </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    <%= form.submit "Enviar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar para Tarefa', :back, class: "btn btn-md btn-secondary" %>
  </div>
  
<% end %>

