<div class="card">

  <div class="card-header">Tarefas Entregues</div>

  <div class="table-responsive">

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Tarefa</th>
          <th class="text-center">Aluno</th>
          <th class="text-center">Avaliar</th>
          <th colspan="3">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @tarefa_alunos.each do |tarefa_aluno| %>
          <tr>
            <td><%= tarefa_aluno.tarefa.descricao %></td>
            <td><%= tarefa_aluno.usuario_curso.nickname %></td>
            <td><%= link_to 'Avaliar Tarefa', {controller: 'avaliacao_tarefa', action: 'new', tarefa_aluno_id: tarefa_aluno.id}, class: "btn btn-sm btn-danger" %></td>
            <% if can? :show, TarefaAluno %>
              <td><%= link_to 'Visualizar', tarefa_aluno %></td>
            <% end %>
            <% if can? :edit, TarefaAluno %>
              <td><%= link_to 'Atualizar', edit_tarefa_aluno_path(tarefa_aluno) %></td>
            <% end %>
            <% if can? :destroy, TarefaAluno %>
              <td><%= link_to 'Excluir', tarefa_aluno, method: :delete, data: { confirm: 'Deseja realmente excluir a Tarefa enviada?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @tarefa_alunos %></span>

</div>
