<div class="card">

  <div class="card-header"><%= @tarefa.nome %></div>

  <div class="table-responsive">

    <table class="table table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Aluno</th>
          <th class="text-center">Arquivo</th>
          <th class="text-center">Nota máxima</th>
          <th class="text-center">Nota do aluno</th>
          <th class="text-center" colspan="2">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @tarefas_alunos.each do |tarefa_aluno| %>
          <tr>
            <td><%= tarefa_aluno.usuario_curso.nickname %></td>
            <td><%= link_to "Arquivo", url_for(tarefa_aluno.arquivo), target: 'blank' %></td>
            <td><%= formata_pontos(tarefa_aluno.tarefa.missao.pontuacao) %></td>
            <% if tarefa_aluno.tarefa_avaliacao %>
              <td><%= tarefa_aluno.tarefa_avaliacao.nota %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <% if can? :show, TarefaAluno %>
              <td><%= link_to 'Visualizar', tarefa_aluno %></td>
            <% end %>
            <% if tarefa_aluno.tarefa_avaliacao %>
              <td><%= link_to 'Editar Avaliação',  edit_tarefa_avaliacao_path(tarefa_aluno.tarefa_avaliacao), class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if !@alunos_sem_envio.empty? %>
    <div class="alert alert-danger">Alunos que não enviaram a tarefa</div>

    <div class="table-responsive">

      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Nome</th>
          </tr>
        </thead>
        <tbody>
          <% @alunos_sem_envio.each do |tarefa_aluno| %>
            <tr>
              <td><%= tarefa_aluno.nickname %></td>      
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="card-footer text-muted">
    <%= link_to 'Voltar para Missão', @tarefa.missao, class: "btn btn-md btn-secondary" %>
  </div>

</div>
