<div class="card">

<p id="notice"><%= notice %></p>

<div class="card-header">
Tarefas Entregues
</div>

<div class="table-responsive">

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Tarefa</th>
      <th>Nome</th>
      <th>Nota</th>
      <th>Comentario</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarefa_alunos.each do |tarefa_aluno| %>
      <tr>
        <td><%= tarefa_aluno.tarefa.conteudo.nome %></td>
        <td><%= tarefa_aluno.usuario_curso.usuario.nome %></td>
        <td><%= tarefa_aluno.nota %></td>
        <td><%= tarefa_aluno.comentario %></td>
        <td><%= link_to 'Show', tarefa_aluno %></td>
        <td><%= link_to 'Edit', edit_tarefa_aluno_path(tarefa_aluno) %></td>
        <td><%= link_to 'Destroy', tarefa_aluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<!-- <div class="text-center">

<%# <%= link_to 'New Tarefa Aluno', new_tarefa_aluno_path %> %>
</div>
-->
</div>
