<div class="card">

	<div class="card-header">Tarefa Entregue</div>

	<ul class="list-group">
	   <li class="list-group-item"><b>Tarefa:</b> <%= @tarefa_aluno.tarefa.descricao %></li>
	   <li class="list-group-item"><b>Aluno:</b> <%= @tarefa_aluno.usuario_curso.nickname %></li>
	   <li class="list-group-item"><b>Arquivo:</b> <%= link_to image_tag("documento.png", :alt => "documento", size: "50x50"), @tarefa_aluno.arquivo.url, target: 'blank' %></li>
	   <li class="list-group-item"><b>Enviada por:</b> <%= @tarefa_aluno.usuario_curso.nickname %></li>
       <li class="list-group-item"><b>Última atualização:</b> <%= @tarefa_aluno.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
	</ul>

	<div class="card-footer text-muted">
	  <% if can? :edit, TarefaAluno %>
	    <%= link_to 'Atualizar', edit_tarefa_aluno_path(@tarefa_aluno), class: "btn btn-md btn-primary" %>
	  <% end %>
	  <%= link_to 'Voltar', tarefas_path, class: "btn btn-md btn-secondary" %>
	</div>


</div>
