<div class="card">

	<div class="card-header">Tarefa Entregue</div>

	<ul class="list-group">
	   <li class="list-group-item"><b>Missão:</b> <%= @tarefa_aluno.tarefa.missao.nome %></li>
	   <li class="list-group-item"><b>Descrição da Missão:</b> <%= @tarefa_aluno.tarefa.missao.descricao.to_s.html_safe %></li>
	   <li class="list-group-item"><b>Pontuação da Missão:</b> <%= @tarefa_aluno.tarefa.missao.pontuacao %></li>
	   <li class="list-group-item"><b>Prazo da Missão:</b> <%= @tarefa_aluno.tarefa.missao.data_hora_termino %></li>
	   <li class="list-group-item"><b>Tarefa:</b> <%= @tarefa_aluno.tarefa.nome %></li>
	   <li class="list-group-item"><b>Descrição da Tarefa:</b> <%= @tarefa_aluno.tarefa.descricao.to_s.html_safe %></li>
	   <li class="list-group-item"><b>Nickname:</b> <%= @tarefa_aluno.usuario_curso.nickname %></li>
	   <li class="list-group-item"><b>Arquivo:</b> <%= link_to image_tag("documento.png", :alt => "documento", size: "50x50"), url_for(@tarefa_aluno.arquivo), target: 'blank' %></li>
       <li class="list-group-item"><b>Última atualização:</b> <%= @tarefa_aluno.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
        <li class="list-group-item"><b>Avaliada:</b> <%= @tarefa_aluno.avaliada? ? 'Sim' : 'Não' %></li>
	</ul>

	<div class="card-footer text-muted">
	  <% if can? :edit, TarefaAluno %>
	    <%= link_to 'Atualizar', edit_tarefa_aluno_path(@tarefa_aluno), class: "btn btn-md btn-primary" %>
	  <% end %>
	<% if @tarefa_aluno.tarefa_avaliacao %>
		<% if can? :edit, TarefaAvaliacao %>
			<%= link_to 'Editar Avaliação',  edit_tarefa_avaliacao_path(@tarefa_aluno.tarefa_avaliacao), class: "btn btn-md btn-danger" %>
		<% end %>
	<% else %>
		<% if can? :new, TarefaAvaliacao %>
			<%= link_to 'Avaliar Tarefa', {controller: 'tarefa_avaliacao', action: 'new', tarefa_aluno_id: @tarefa_aluno.id}, class: "btn btn-md btn-danger" %>
		<% end %>
	<% end %>
	  <%= link_to 'Voltar', @tarefa_aluno.tarefa, class: "btn btn-md btn-secondary" %>
	</div>


</div>
