<div class="card">
  <div class="card-header">Recompensas do Curso</div>

  <% if !@recompensas.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Posição no ranking</th>
            <th class="text-center">Nome</th>
            <th colspan="3" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @recompensas.each do |recompensa| %>
            <tr>
              <td><%= recompensa.posicao_ranking %></td>
              <td><%= recompensa.nome %></td>
              <% if can? :show, Recompensa %>
                <td><%= link_to 'Visualizar', recompensa %></td>
              <% end %>
              <% if can? :edit, Recompensa %>
               <td><%= link_to 'Atualizar', edit_recompensa_path(recompensa) %></td>
              <% end %>
              <% if can? :destroy, Recompensa %>
                <td><%= link_to 'Excluir', recompensa, method: :delete, data: { confirm: 'Deseja realmente excluir a Recompensa?'} %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-danger">Não há Recompensas cadastradas!</div>
  <% end %>

  <br>

  <% if can? :new, Recompensa %>
    <div class="card-footer text-muted">
      <%= link_to 'Cadastrar Recompensa', {controller: 'recompensas', action: 'new'}, class: "btn btn-md btn-success" %>
    </div>
  <% end %>

</div>