<div class="card">

	<div class="card-header">Usuário
	    <% if can? :edit, Usuario %>
	      <%= link_to '', edit_usuario_path(@usuario), class: "fa fa-edit text-white" %>
	    <% end %>
	</div>

    <div class="row">
    	<div class="col-md-10 offset-md-1">
			<ul class="list-group">
				<li class="list-group-item"><b>Nome:</b> <%= @usuario.nome %></li>
				<li class="list-group-item"><b>CPF:</b> <%= @usuario.cpf %></li>
				<li class="list-group-item"><b>E-mail:</b> <%= @usuario.email %></li>
				<li class="list-group-item"><b>Data de nascimento:</b> <%= @usuario.data_nascimento.strftime("%d/%m/%Y") %></li>
				<li class="list-group-item"><b>Sexo:</b> <%= @usuario.sexo %></li>
				<li class="list-group-item"><b>Perfil:</b> <%= @usuario.perfil %></li>
				<li class="list-group-item"><b>Ativo:</b> <%= @usuario.ativo? ? 'Sim' : 'Não' %></li>
				<li class="list-group-item"><b>Termo de uso:</b> <%= @usuario.termo_compromisso? ? 'Sim' : 'Não' %></li>
				<li class="list-group-item"><b>Cadastrado em:</b> <%= @usuario.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
				<li class="list-group-item"><b>Atualizado em:</b> <%= @usuario.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>				
			</ul>
		</div>
	</div>

	<div class="card-footer text-muted">
		<%= link_to 'Voltar', usuarios_path, class: "btn btn-md btn-secondary" %>
	</div>

</div>