<script>
  function fechar() {
    $('#task-form<%= @quiz_pergunta_resposta.id %>').slideUp(350);
  }
</script>

<div class="card">
  <div class="card-header bg-success">Resposta</div> 

  <%= form_with(model: @quiz_pergunta_resposta, remote: true) do |form| %>
    <% if @quiz_pergunta_resposta.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@quiz_pergunta_resposta.errors.count, "erro(s)") %> - Resposta da pergunta não pôde ser salva!</h2>

        <ul>
        <% @quiz_pergunta_resposta.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :quiz_pergunta_id %>

    <div class="card-body">

      <div class="form-group row">
        <label for="inputNome" class="col-md-2 col-form-label">Descrição*</label>
        <div class="col-md-10">
          <%= form.cktext_area :descricao, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputNome" class="col-md-2 col-form-label">Comentário</label>
        <div class="col-md-10">
          <%= form.text_area :comentario, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label class="form-check-label col-md-2 " for="gridCheck1">Correta</label>
        <div class="col-md-4">
          <div class="form-check">
            <%= form.check_box :correta, class: "form-check-input" %> Sim
          </div>
        </div>        
      </div>

    </div>

    <div class="card-footer text-muted bg-success">
      <%= form.submit "Salvar Resposta", class: "btn btn-md btn-primary" %>
      <%= link_to 'Fechar', @quiz_pergunta_resposta.quiz_pergunta, class: "btn btn-md btn-secondary" %>
    </div>
  <% end %>
</div>