<% @quiz_pergunta_respostas.each_with_index do |quiz_pergunta_resposta, index| %>
  <div class="card">
    <div class="card-header2 text-left">
      <p>
        <b> Opção <%= index+1 %>)</b>
        <% if can? :edit, QuizPerguntaResposta and !quiz_pergunta_resposta.quiz_pergunta.quiz.finalizado %>
        <%= link_to  '', edit_quiz_pergunta_resposta_path(quiz_pergunta_resposta), class: "fa fa-pencil text-light", remote: true %>
        <% end %>
        <% if can? :destroy, QuizPerguntaResposta and !quiz_pergunta_resposta.quiz_pergunta.quiz.finalizado %>
          <%= link_to  '', quiz_pergunta_resposta, method: :delete, id:"tasks", data: { confirm: 'Deseja realmente realmente remover a Resposta?'}, class: "fa fa-trash text-light", remote: true %>
        <% end %> 
      </p>
      <p><b>Descrição:</b> <%= quiz_pergunta_resposta.descricao.to_s.html_safe %></p>
      <p><b>Resposta correta?</b> <%= quiz_pergunta_resposta.correta? ? 'Sim' : 'Não' %></p>
      <p><b>Comentário:</b> <%= quiz_pergunta_resposta.comentario %></p>
    
      <div id="task-form<%= quiz_pergunta_resposta.id %>" style="display:none;"></div>
    </div>
  </div>
<%end%>

