<div class="card">
  <div class="card-header">Materiais</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Módulo</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% @materiais.each do |material| %>
          <tr>
            <td><%= material.nome %></td>
            <td><%= material.tipo %></td>
            <td class="text-center"><%= link_to material.conteudo.nome, material.conteudo %></td>
            <% if can? :show, Material %>
              <td><%= link_to 'Visualizar', material %></td>
            <% end %>
            <% if can? :edit, Material %>
              <td><%= link_to 'Atualizar', edit_material_path(material) %></td>
            <% end %>
            <% if can? :destroy, Material %>
              <td><%= link_to 'Excluir', material, method: :delete, data: { confirm: 'Deseja realmente excluir o Material?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span> <%= will_paginate @materiais %></span>

  <br>
  <div class="card-footer text-muted">
    <%= link_to 'Voltar', {controller: 'conteudos', action: 'index'}, class: "btn btn-md btn-secondary" %>
  </div>
</div>