<div class="card">

	<div class="card-header">Material
	    <% if can? :edit, Material %>
	      <%= link_to '', edit_material_path(@material), class: "fa fa-edit text-white" %>
	    <% end %>
	    <% if can? :destroy, Material %>
	      <%= link_to '', @material, method: :delete, data: { confirm: 'Deseja realmente excluir o Material?' }, class: "fa fa-trash text-white" %>
	    <% end %>
	</div>
  
	<ul class="list-group">
	  <li class="list-group-item"><b>Nome:</b> <%= @material.nome %></li>
	  <li class="list-group-item"><b>Tipo:</b> <%= @material.tipo %></li>

	  <% if @material.tipo == "Texto" %>
	  	<li class="list-group-item"><b>Texto:</b><span> <%= @material.texto.to_s.html_safe %></span></li>
	  <% end %>
	  <% if @material.tipo == "Link" %>
	  	<li class="list-group-item"><b>Link:</b> <%= link_to @material.texto, extlink(@material.texto), target: "_blank", rel: "nofollow" %></li>
	  <% end %>

	  <% if @material.tipo == "Imagem" %>
	  	<li class="list-group-item"><b>Imagem:</b> <%= image_tag @material.arquivo.variant(resize: "200x200"), class: "img-responsive" %></li>
	  <% end %>

	  <% if @material.tipo == "Arquivo" %>
	  	<li class="list-group-item"><b>Arquivo:</b> <%= link_to image_tag("documento.png", :alt => "documento", size: "50x50"), url_for(@material.arquivo), target: 'blank' %></li>
	  <% end %>

	  <% if @material.tipo == "Vídeo" %>
	  	<li class="list-group-item"><b>Vídeo:</b> <%= link_to image_tag("video.png", :alt => "video", size: "50x50"), url_for(@material.video), target: 'blank' %></li>
	  <% end %>

	  <li class="list-group-item"><b>Módulo:</b> <%= link_to @material.modulo.nome, @material.modulo %></li>      
	  <li class="list-group-item"><b>Cadastrado em:</b> <%= @material.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>  
	  
	</ul>

	<br>
	<div class="card-footer text-muted">
	  <%= link_to 'Voltar', materiais_path, class: "btn btn-md btn-secondary" %>
	</div>
	
</div>
