<li class="nav-item">
  <br>
  <h3 class="agile"><i class="fa fa-wrench fa-lg"></i>Gerenciamento</h3>
</li>

<li class="nav-item">
	<%= link_to " Cursos", cursos_path, {class: "fa fa-university fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Temas dos Cursos", tema_cursos_path, {class: "fa fa-paint-brush fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Badges", badges_path, {class: "fa fa-certificate fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Badges dos Alunos", badges_alunos_path, {class: "fa fa-certificate fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Níveis", niveis_path, {class: "fa fa-level-up fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Grupos", grupos_path, {class: "fa fa-user-circle fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Avatares", avatares_path, {class: "fa fa-user-secret fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Artefatos", artefatos_path, {class: "fa fa-object-group fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Artefatos dos Alunos", artefatos_alunos_path, {class: "fa fa-object-group fa-sm nav-link"} %>
</li>

<li class="nav-item">
	<%= link_to " Usuários", usuarios_path, {class: "fa fa-users fa-sm nav-link"} %>
</li>