<div class="col-md-2 col-sm-2 color-sidebar ">
    <nav id="sidebar" class="sidebar navbar-nav">		
		<ul class="navbar-nav bg-gradient-primary sidebar accordion" id="accordionSidebar">	
		
			<li class="nav-item">
			<br>
			
			<h4 class="agile"><a href="/"><i class="fa fa-wrench fa-lg "></i>Gerenciamento</a></h4>
			</li>

			<li class="nav-item nav-sidebar">
				<a class="nav-link collapsed text-light" href="#" data-toggle="collapse" data-target="#collapse1"
					aria-expanded="true" aria-controls="collapse1">
					
					Cursos <span class="fa fa-plus-circle fa-sm"></span>
				</a>
				<div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="py-2 collapse-inner rounded bg-primary">
						<p class="menu"> <%= link_to " Temas", tema_cursos_path, {class: "fa fa-paint-brush fa-sm nav-link text-light"} %></p>
						<p class="menu"> <%= link_to " Cursos", cursos_path, {class: "fa fa-university fa-sm nav-link text-light"} %></p>
					</div>
				</div>
			</li>

			<li class="nav-item nav-sidebar">
				<a class="nav-link collapsed text-light" href="#" data-toggle="collapse" data-target="#collapse2"
					aria-expanded="true" aria-controls="collapse2">
					Badges <span class="fa fa-plus-circle fa-sm"></span>
				</a>
				<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="py-2 collapse-inner rounded bg-primary">
						<p class="menu"><%= link_to " Badges", badges_path, {class: "fa fa-trophy fa-sm nav-link text-light"} %></p>
						<p class="menu"><%= link_to " Badges/Alunos", badges_alunos_path, {class: "fa fa-gear fa-sm nav-link text-light"} %></p>
					</div>
				</div>
			</li>

			<li class="nav-item nav-sidebar">
				<%= link_to " Níveis", niveis_path, {class: "fa fa-star-half-o fa-sm nav-link text-light"} %>
			</li>

			<li class="nav-item nav-sidebar">
				<%= link_to " Grupos", grupos_path, {class: "fa fa-user-circle fa-sm nav-link text-light"} %>
			</li>

			<li class="nav-item nav-sidebar">
				<%= link_to " Avatares", avatares_path, {class: "fa fa-user-secret fa-sm nav-link text-light"} %>
			</li>

			<li class="nav-item nav-sidebar">
				<a class="nav-link collapsed text-light" href="#" data-toggle="collapse" data-target="#collapse3"
					aria-expanded="true" aria-controls="collapse3">
					
					Artefatos <span class="fa fa-plus-circle fa-sm"></span>
				</a>
				<div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="py-2 collapse-inner rounded bg-primary">
						<p class="menu"><%= link_to " Artefatos", artefatos_path, {class: "fa fa-beer fa-sm nav-link text-light "} %></p>
						<p class="menu"><%= link_to " Artefatos/Alunos", artefatos_alunos_path, {class: "fa fa-cog fa-sm nav-link text-light"} %></p>
					</div>
				</div>
			</li>

			<li class="nav-item nav-sidebar">
				<%= link_to " Usuários", usuarios_path, {class: "fa fa-users fa-sm nav-link text-light"} %>
			</li>

			<li class="nav-item nav-sidebar">
				<%= link_to " FAQ", faqs_path, {class: "fa fa-question-circle fa-sm nav-link text-light"} %>
			</li>

			<li class="nav-item nav-sidebar">
			<%= link_to " Acessos", ahoy_visits_path, {class: "fa fa-eye fa-sm nav-link text-light"} %>
			</li>
		</ul>
	</nav>
</div>

<div class="col-md-10 col-sm-10">
	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>
	<br>
	<br>
</div>
