<% if @perfil %>

	
	<div class="alert alert-success alert-lateral">
		<%= link_to " Voltar para Módulos", @current_usuario.curso_atual, {class: "fa fa-arrow-circle-o-left fa-sm nav-link text-dark"} %>
	</div>

	<% if @perfil.perfil == 'Aluno' %>

		<div class="alert alert-warning alert-lateral">
			<%= link_to " Conquistas", minhas_conquistas_path, {class: "fa fa-trophy fa-sm nav-link text-dark"} %>
		</div>

		<% if @perfil.curso.recompensas.exists? %>
			<div class="alert alert-danger alert-lateral">
				<%= link_to " Recompensas", recompensas_path, {class: "fa fa-gift fa-sm nav-link text-dark"} %>
			</div>
		<% end %>
	<% end %>
	
	<% if  !@perfil.evento.empty? %>

		<div class="alert alert-primary alert-lateral">
			<li class="nav-item">
			  <i class="fa fa-calendar fa-sm nav-link text-secondary"> Eventos </i>
			</li>
		
			<% @perfil.evento.each do |evento| %>
				<li class="nav-item ">
		    		<%= link_to evento.data.strftime("%d/%m/%Y"), evento, class: 'nav-link' %>
		    	</li>
		    <% end %>
		    <li class="nav-item text-center"><%= link_to 'Ver todos', eventos_path, class: 'btn btn-sm btn-primary btn-block' %></li>
		</div>

	<% end %>  

	<div class="alert alert-success alert-lateral">
		<li class="nav-item">
			<i class="fa fa-rocket fa-sm nav-link text-dark"> Ranking</i>
		</li>
	  	
		<% @perfil.ranking.each_with_index do |aluno, index| %>
			<li class="nav-item">
				<%= link_to "#{index+1}º  #{aluno.nickname}", aluno, class: 'nav-link' %>
			</li>
		<% end %>
		
		<li class="nav-item text-center"><%= link_to 'Ver todos', ranking_usuario_path, class: 'btn btn-sm btn-success btn-block' %></li>
	</div>

	<% if @perfil.grupo_curso %>
		<% if  !@perfil.ranking_equipe.empty? %>
			<div class="alert alert-info alert-lateral">
				<li class="nav-item">
					<i class="fa fa-users fa-sm nav-link text-dark"> Equipes</i>
				</li>
					
				<% @perfil.ranking_equipe.each_with_index do |equipe, index| %>
					<li class="nav-item">
						<%= "#{index+1}º #{equipe[0]}: " + formata_pontos(equipe[1]).to_s + "XP" %>
					</li>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<% if  @perfil.forum %>
		<div class="alert alert-warning alert-lateral">
			<li class="nav-item">
        <%= link_to " Fóruns", foruns_path, {class: "fa fa-clipboard fa-sm nav-link text-dark"} %>
      </li>
    </div>
	<% end %> 
	
	<% if  @perfil.chat %>

		<div class="alert alert-warning alert-lateral">
			<li class="nav-item">
				<%= link_to " Chats", salas_chat_path, {class: "fa fa-comments fa-sm nav-link text-dark"} %>
			</li>
		</div>

	<% end %>  

	<% if  @perfil.pesquisa and @perfil.perfil == 'Aluno' %>

		<div class="alert alert-primary alert-lateral">
			<li class="nav-item">
				<%= link_to " Pesquisas", question_groups_path, {class: "fa fa-search fa-sm nav-link text-dark"} %>
			</li>
		</div>

	<% end %>

	<% if  @perfil.perfil == 'Aluno' %>

		<div class="alert alert-danger alert-lateral">
			<li class="nav-item">
				<%= link_to " Pendências", pendencias_path(id: @perfil.id), {class: "fa fa-exclamation-triangle fa-sm nav-link text-dark"} %>
			</li>
		</div>

	<% end %>

	<% if  @perfil.notificacao and @perfil.perfil == 'Aluno' %>

		<div class="alert alert-info alert-lateral">
			<li class="nav-item">
				<%= link_to " Notificações", notificacoes_path, {class: "fa fa-bell fa-sm nav-link text-dark"} %>
			</li>
		</div>

	<% end %>
<% end %>