<li class="nav-item agile ">
  <br>
  <%= link_to @current_usuario.curso_atual, class: "nav-link text-center text-light icone-curso" do %><i class="fa fa-university fa-lg"> </i> Curso<% end %>
</li>


<li class="nav-item nav-sidebar">
  <%= link_to " Detalhes do curso", descricao_path(id: @current_usuario.curso_atual), {class: "fa fa-info-circle fa-sm nav-link text-light"} %>
</li>

<li class="nav-item nav-sidebar">
  <%= link_to " Meu perfil", @perfil, {class: "fa fa-user fa-sm nav-link text-light"} %>
</li>

<li class="nav-item nav-sidebar">
  <%= link_to " Módulos", modulos_path, {class: "fa fa-cubes fa-sm nav-link text-light"} %>
</li>

<li class="nav-item nav-sidebar">
  <%= link_to " Fóruns", foruns_path, {class: "fa fa-clipboard fa-sm nav-link text-light"} %>
</li>

<li class="nav-item nav-sidebar">
  <%= link_to " Chats", salas_chat_path, {class: "fa fa-comments fa-sm nav-link text-light"} %>
</li>

<li class="nav-item nav-sidebar">
  <%= link_to " Pesquisas", question_groups_path, {class: "fa fa-search fa-sm nav-link text-light"} %>
</li>

<li class="nav-item nav-sidebar">
  <%= link_to " Mensagens", conversas_path, {class: "fa fa-commenting fa-sm nav-link text-light"} %>
</li>       

<li class="nav-item nav-sidebar">
  <%= link_to " Comunicados", comunicados_path, {class: "fa fa-bullhorn fa-sm nav-link text-light"} %>
</li>  

<li class="nav-item nav-sidebar">
  <%= link_to " Eventos", eventos_path, {class: "fa fa-calendar fa-sm nav-link text-light"} %>
</li> 

<li class="nav-item nav-sidebar">
  <%= link_to " Equipes", grupos_cursos_path, {class: "fa fa-user-circle fa-sm nav-link text-light"} %>
</li>  

<li class="nav-item nav-sidebar">
  <a class="nav-link text-light" href="/usuario_curso"> <i class="fa fa-users fa-sm"></i> Participantes </a>
</li>  

<li class="nav-item nav-sidebar">
  <%= link_to " Notas da turma", notas_path, {class: "fa fa-graduation-cap fa-sm nav-link text-light"} %>
</li>  

<li class="nav-item nav-sidebar">
  <%= link_to " Convidar", enviar_convite_path, {class: "fa fa-envelope fa-sm nav-link text-light"} %>
</li>