<div class="card">

 	<div id="content-wrapper">

        <div class="container-fluid">

        	<div class="text-center">
				<% if can? :new, Curso %>
					<br>
					<%= link_to 'Cadastrar Novo Curso', new_curso_path, class: "btn btn-md btn-success" %>
				<% end %>
				<% if can? :new, TemaCurso %>
					<%= link_to 'Temas de Cursos', tema_cursos_path, class: "btn btn-md btn-danger" %>
			  	<% end %>
			  	<% if can? :new, Badge %>
					<%= link_to 'Badge', badges_path, class: "btn btn-md btn-secondary" %>
			  	<% end %>
			  	<%= link_to 'Me inscrever em um curso', {controller: 'usuario_curso', action: 'busca_curso'}, class: "btn btn-md btn-info" %>
			</div>
			<br>
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
			<li class="breadcrumb-item text-center">Meus Cursos</li>
			</ol>
		
			<!-- Icon Cards-->

			<div class="row">
				<% @meuscursos.each do |curso| %>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white o-hidden h-100 curso">
							<div class="card-body">
								<div><%= curso.curso.nome %></div>
							</div>
							<div class="card-footer bg-primary text-white">
								<%= link_to 'Visualizar', {controller: 'cursos', action: 'atualizar_curso_atual', curso_id: curso.curso.id}, class: 'linkcurso' %>
							</div>
						</div>
					</div>
				<% end %>
			</div>

          <ol class="breadcrumb">
            <li class="breadcrumb-item text-center">Buscar Cursos Públicos</li>
          </ol>
          
		  <%= form_tag request.path, :method => 'get' do %>
		    <div class="form-row">
			    <div class="form-group col-md-5 offset-2">
			      <label for="inputNome">Nome</label>
			      <%= text_field_tag :nome, params[:nome], class: "form-control"  %>
			    </div>
			    <div class="form-group col-md-2">
			      <label for="inputCodigoAcesso">Código de acesso</label>
			      <%= text_field_tag :codigo_acesso, params[:codigo_acesso], class: "form-control" %>
			    </div>
			</div>

		    <div class="text-center">
		      <%= submit_tag 'Buscar', :class =>"btn btn-primary link" %>
		    </div>
		  <% end %>
		  
		  <% if not @cursos_publicos.empty? %>
		  	<div class="row">
	          	<% @cursos_publicos.each do |curso| %>
		            <div class="col-xl-3 col-sm-6 mb-3">
		              <div class="card text-white curso o-hidden h-100">
		                <div class="card-body">
		                  <div><%= curso.nome %></div>
		                </div>
		                <div class="card-footer bg-primary text-white">
		                  <%= link_to 'Visualizar', {controller: 'cursos', action: 'atualizar_curso_atual', curso_id: curso.id}, class: 'linkcurso' %>
		                </div>
		              </div>
		            </div>
	            <% end %>
          	</div>
          <% end %>

        </div>
    </div>
</div>