<div class="card">

  <div class="card-header">Pergunta do Quiz</div>

  <ul class="list-group">
    <li class="list-group-item"><b>Nome:</b> <%= @quiz_pergunta.descricao %></li>
    <li class="list-group-item"><b>Pontos:</b> <%= @quiz_pergunta.pontuacao %></li>
    <li class="list-group-item"><b>Cadastrada em:</b> <%= @quiz_pergunta.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>     
  </ul>

  <br>

  <div class="card-footer text-muted">
    <% if can? :edit, QuizPergunta %>
      <%= link_to 'Atualizar', edit_quiz_pergunta_path(@quiz_pergunta), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>

  <div id="resposta_pergunta"><%= render 'quiz_pergunta_respostas/resposta_pergunta', :collection => @quiz_pergunta_respostas %></div>

  <div id="pergunta-form" style="display:none;"></div>

  <% if can? :new, QuizPerguntaResposta %>
    <div class="text-center">
      <%= link_to " Adicionar Resposta", {controller: 'quiz_pergunta_respostas', action: 'new', :quiz_pergunta_id => @quiz_pergunta.id, remote: true}, class: "btn btn-warning" %>
    </div>
  <% end %>

  <br><br>

</div>
