<% @respostas_perguntas.each_with_index do |resposta_pergunta, index| %>
  <div class="card">
    <div class="card-header2 text-left">
      <p>
        <b> Opção <%= index+1 %>)</b>
        <% if can? :edit, RespostaPergunta %>
        <%= link_to  '', edit_resposta_pergunta_path(resposta_pergunta), class: "fa fa-pencil text-light", remote: true %>
        <% end %>
        <% if can? :destroy, RespostaPergunta %>
          <%= link_to  '', resposta_pergunta, method: :delete, id:"tasks", data: { confirm: 'Deseja realmente realmente remover a Resposta?'}, class: "fa fa-trash text-light", remote: true %>
        <% end %> 
      </p>
      <p><b>Descrição:</b> <%= resposta_pergunta.descricao.to_s.html_safe %></p>
      <p><b>Resposta correta?</b> <%= resposta_pergunta.correta? ? 'Sim' : 'Não' %></p>
      <p><b>Comentário:</b> <%= resposta_pergunta.comentario %></p>
    
      <div id="task-form<%= resposta_pergunta.id %>" style="display:none;"></div>
    </div>
  </div>
<%end%>

