<p id="notice"><%= notice %></p>

<p>
  <strong>Pergunta:</strong>
  <%= @resposta_pergunta.pergunta %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @resposta_pergunta.descricao %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @resposta_pergunta.comentario %>
</p>

<p>
  <strong>Correta:</strong>
  <%= @resposta_pergunta.correta %>
</p>

<%= link_to 'Edit', edit_resposta_pergunta_path(@resposta_pergunta) %> |
<%= link_to 'Back', respostas_perguntas_path %>
