<div class="card">

  <div class="card-header">Respostas pergunta</div>

  <ul class="list-group">
    <li class="list-group-item"><b>Descrição:</b> <%= @resposta_pergunta.descricao %></li>
    <li class="list-group-item"><b>Comentário:</b> <%= @resposta_pergunta.comentario %></li>
    <li class="list-group-item"><b>Correta:</b> <%= @resposta_pergunta.correta? ? 'Sim' : 'Não' %></li>
    <li class="list-group-item"><b>Cadastrada em:</b> <%= @resposta_pergunta.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>     
  </ul>

  <br>

  <div class="card-footer text-muted">
    <% if can? :edit, RespostaPergunta %>
      <%= link_to 'Atualizar', edit_resposta_pergunta_path(@resposta_pergunta), class: "btn btn-md btn-primary" %>
    <% end %>
    <%= link_to 'Voltar', :back, class: "btn btn-md btn-secondary" %>
  </div>
</div>
