<div class="card">

  <div class="card-header">Dicas</div>

  <% if !@dicas.empty? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center">Nome</th>          
            <th class="text-center">Ativa</th>
            <th class="text-center" colspan="3">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @dicas.each do |dica| %>
            <tr>
              <td><%= dica.nome %></td>
              <td><%= dica.ativo? ? 'Sim' : 'Não' %></td>
              <% if can? :show, Dica %>
                <td><%= link_to 'Visualizar', dica %></td>
              <% end %>
              <% if can? :edit, Dica %>
                <td><%= link_to 'Atualizar', edit_dica_path(dica) %></td>
              <% end %>
              <% if can? :destroy, Dica %>
                <td><%= link_to 'Excluir', dica, method: :delete, data: { confirm: 'Deseja realmente excluir a Dica?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <span> <%= will_paginate @dicas %></span>
  <% end %>

</div>