<h2>Tema do Curso</h2>

	<ul class="list-group">
		<li class="list-group-item"><b>Nome:</b> <%= @tema_curso.nome %></li>
		<li class="list-group-item"><b>Ativo:</b> <%= @tema_curso.ativo? ? 'Sim' : 'Não' %></li>	
		<li class="list-group-item"><b>Cor do título:</b> <%= @tema_curso.cor_titulo %></li>
		<li class="list-group-item"><b>Cor do texto:</b> <%= @tema_curso.cor_texto %></li>		
		<li class="list-group-item"><b>Cor do fundo:</b> <%= @tema_curso.cor_fundo %></li>	
		<li class="list-group-item"><b>Imagem de fundo:</b> <%= image_tag @tema_curso.imagem.url(:thumb) %></li>			
	</ul>

<br>
<div class="text-center">
	<% if can? :edit, TemaCurso %>
		<%= link_to 'Atualizar', edit_tema_curso_path(@tema_curso), class: "btn btn-md btn-primary" %>
	<% end %>
	<%= link_to 'Voltar', temas_cursos_path, class: "btn btn-md btn-danger" %>
</div>


