<h2>Tema do Curso</h2>

	<ul class="list-group">
		<li class="list-group-item">Nome: <%= @tema_curso.nome %></li>
		<li class="list-group-item">Ativo: <%= @tema_curso.ativo %></li>		
		<li class="list-group-item">Cor do título: <%= @tema_curso.cor_titulo %></li>
		<li class="list-group-item">Cor do texto: <%= @tema_curso.cor_texto %></li>		
		<li class="list-group-item">Cor do fundo: <%= @tema_curso.cor_fundo %></li>			
	</ul>

<br>
<div class="text-center">
	<%= link_to 'Atualizar', edit_tema_curso_path(@tema_curso) %>
	<%= link_to 'Voltar', temas_cursos_path %>
</div>


