<%= form_with(model: tema_curso, local: true) do |form| %>
  <% if tema_curso.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(tema_curso.errors.count, "erro(s)") %> - Tema do Curso não pôde ser salvo!</h2>

      <ul>
      <% tema_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card-body">

    <div class="form-group row">
      <label for="inputNome" class="col-md-2 offset-md-2 col-form-label">Nome*</label>
      <div class="col-md-6">
        <%= form.text_field :nome, autofocus: true, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <label class="form-check-label col-md-2 offset-md-2" for="gridCheck1">Ativo</label>
      <div class="col-md-2 ">
        <div class="form-check">
          <%= form.check_box :ativo, class: "form-check-input" %> Sim
        </div>
      </div>        
    </div>

    <div class="form-group row">
      <label for="inputCorTitulo" class="col-md-2 offset-md-2 col-form-label">Cor do título*</label>
      <div class="col-md-1">
        <%= form.color_field :cor_titulo, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputCorTexto" class="col-md-2 offset-md-2 col-form-label">Cor do texto*</label>
      <div class="col-md-1">
        <%= form.color_field :cor_texto, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputCorFundo" class="col-md-2 offset-md-2 col-form-label">Cor do fundo*</label>
      <div class="col-md-1">
        <%= form.color_field :cor_fundo, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputCorTexto" class="col-md-2 offset-md-2 col-form-label">Imagem de fundo*</label>
      <div class="col-md-1">
        <%= form.file_field :imagem, as: :file %>
      </div>
    </div>
  </div>
  
  <div class="card-footer text-muted">
    <%= form.submit "Salvar", class: "btn btn-md btn-primary" %>
    <%= link_to 'Voltar', tema_cursos_path, class: "btn btn-md btn-secondary" %>
  </div>

<% end %>

