<div class="card">

	<div class="card-header">Tema do Curso
	    <% if can? :edit, TemaCurso %>
	      <%= link_to '', edit_tema_curso_path(@tema_curso), class: "fa fa-edit text-white" %>
	    <% end %>
	    <% if can? :destroy, TemaCurso %>
	      <%= link_to '', @tema_curso, method: :delete, data: { confirm: 'Deseja realmente excluir o Tema do Curso?' }, class: "fa fa-trash text-white" %>
	    <% end %>
  	</div>

    <div class="row">
    	<div class="col-md-10 offset-md-1">
			<ul class="list-group">
				<li class="list-group-item"><b>Nome:</b> <%= @tema_curso.nome %></li>
				<li class="list-group-item"><b>Cor do título: </b> <span style="color:<%= @tema_curso.cor_titulo %>; font-size: 50px;">&#9632; </span></li>
				<li class="list-group-item"><b>Cor do texto:</b> <span style="color:<%= @tema_curso.cor_texto %>; font-size: 50px;">&#9632; </span></li>
				<li class="list-group-item"><b>Cor do fundo:</b> <span style="color:<%= @tema_curso.cor_fundo %>; font-size: 50px;">&#9632; </span> </li>
				<li class="list-group-item"><b>Imagem de fundo:</b> <%= image_tag @tema_curso.imagem.variant(resize: "400x400"), class: "img-fluid img-responsive" %></li>
				<li class="list-group-item"><b>Ativo:</b> <%= @tema_curso.ativo? ? 'Sim' : 'Não' %></li>
			</ul>

			<% if not @artefatos.empty? %>

				<div class="card-header">Artefatos</div>
				<div class="table-responsive">
				    <table class="table table-striped table-bordered table-sm">
				      	<thead class="thead-dark">
					        <tr>
					          <th class="text-center">Nome</th>
					          <th class="text-center">Imagem</th>
					     	  <th class="text-center">Ativo</th>
					          <th colspan="3" class="text-center">Opções</th>
					        </tr>
					    </thead>
				      	<tbody>
					        <% @artefatos.each do |artefato| %>
					          <tr>
					          	<td><%= artefato.nome %></td>
					          	<td><%= image_tag artefato.imagem.variant(resize: "150x150"), class: "img-responsive img-fluid" %></td>
					            <td><%= artefato.ativo? ? 'Sim' : 'Não' %></td>
					            <% if can? :show, Artefato %>
					              <td><%= link_to 'Visualizar', artefato %></td>
					            <% end %>
					            <% if can? :edit, Artefato %>
					              <td><%= link_to 'Atualizar', edit_artefato_path(artefato) %></td>
					            <% end %>
					            <% if can? :destroy, Artefato %>
					              <td><%= link_to 'Excluir', artefato, method: :delete, data: { confirm: 'Deseja realmente excluir o Artefato do Tema do Curso?' } %></td>
					            <% end %>
					          </tr>
					        <% end %>
				      	</tbody>
				    </table>
				</div>
			<% end %>
	
		</div>
	</div>

	<div class="card-footer text-muted">
		<% if can? :new, Artefato %>
			<%= link_to 'Adicionar Artefato', {controller: "artefatos", action: "new", tema_curso_id: @tema_curso.id}, class: "btn btn-md btn-warning" %>
		<% end %>
		<%= link_to 'Voltar', tema_cursos_path, class: "btn btn-md btn-secondary" %>
	</div>

</div>