<div class="card">
    <div class="card-header">Tema do Curso</div> 

	<ul class="list-group">
		<li class="list-group-item"><b>Nome:</b> <%= @tema_curso.nome %></li>
		<li class="list-group-item"><b>Ativo:</b> <%= @tema_curso.ativo? ? 'Sim' : 'Não' %></li>
		<li class="list-group-item"><b>Cor do título: </b> <span style="color:<%= @tema_curso.cor_titulo %>; font-size: 50px;">&#9632; </span></li>
		<li class="list-group-item"><b>Cor do texto:</b> <span style="color:<%= @tema_curso.cor_texto %>; font-size: 50px;">&#9632; </span></li>
		<li class="list-group-item"><b>Cor do fundo:</b> <span style="color:<%= @tema_curso.cor_fundo %>; font-size: 50px;">&#9632; </span> </li>
		<li class="list-group-item"><b>Imagem de fundo:</b> <%= image_tag @tema_curso.imagem.url(:thumb) %></li>
	</ul>

	
	<div class="text-center">
		<% if can? :edit, TemaCurso %>
			<%= link_to 'Atualizar', edit_tema_curso_path(@tema_curso), class: "btn btn-md btn-primary " %>
		<% end %>
		<%= link_to 'Voltar', tema_cursos_path, class: "btn btn-md btn-danger" %>
	</div>

</div>