<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>AGILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% %w(bootstrap.min sb-admin template_cursos font-awesome.min application).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery-ui.min'  %>
    <%= javascript_include_tag 'bootstrap.min'  %>
    <%= javascript_include_tag 'sb-admin'  %>
    <%= javascript_include_tag 'jquery.maskedinput.min'  %>


  </head>
  <% if @perfil %>
    <body id="page-top" style=" background-image: url(<%= rails_blob_url(@current_usuario.curso_atual.tema_curso.imagem) %>); background-repeat: no-repeat; background-size: cover; color: <%= @current_usuario.curso_atual.tema_curso.cor_texto %>">
  <% else %>
    <body>
  <% end %>

    <nav class="navbar navbar-expand static-top">
      <%= image_tag ("coelho2.png"), class: "img-responsive", width: "35", height: "35" %>
      <a class="navbar-brand mr-1" href="/">AGILE</a>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-12">
        <% if usuario_signed_in? %>
          <li class="nav-item">
            <%= link_to edit_usuario_registration_path, @id => :usuario_id, class: 'nav-link' do %>Atualizar Dados<% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_usuario_session_path, :method => :delete, class: 'nav-link' do %>Sair<% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        <% end %>
      </ul>

    </nav>

    <div id="wrapper">
      <% if @perfil %>
        <nav id="sidebar" class="sidebar navbar-nav" style="background-color: <%= @current_usuario.curso_atual.tema_curso.cor_fundo %>;">
      <% else %>
        <nav id="sidebar" class="sidebar navbar-nav">
      <% end %>
        
        <div class="sidebar-header">
          <% if @perfil %>
            <% if @perfil.avatar %>
              <p class="list-group-item text-center"><%= image_tag @perfil.avatar.imagem.variant(resize: "300x300"), class: "img-responsive img-thumbnail" %></p>
            <% else %>
              <p class="list-group-item text-center"><%= image_tag "missing.png", class: "img-responsive img-thumbnail" %></p>
            <% end %>
            <p class="list-group-item text-center perfil"> <%= link_to @perfil.nickname, @perfil %></p>
            <% if @perfil.perfil == 'Aluno' %>
              <p class="list-group-item text-center perfil"><label>XP:</label> <%= @perfil.pontos_experiencia %></p>
              <p class="list-group-item text-center perfil"><label>Nível:</label> <%= @perfil.nivel.nome %></p>
            <% end %>
            <% if @perfil.grupo_curso %>
                <p class="list-group-item text-center perfil"><label>Equipe:</label> <%= link_to @perfil.grupo_curso.nome_curso, equipe_url %></p>
                <p class="list-group-item text-center perfil"><label>XP Médio da Equipe:</label> <%= @perfil.grupo_curso.pontuacao_media %></p>
              <% else %>
                <p class="list-group-item text-center perfil"><%= link_to 'Escolher Equipe', escolher_equipe_url(id: @perfil.id), class: 'text-danger' %></p>
            <% end %>
            <p class="list-group-item text-center perfil"><label>Status:</label> <%= @perfil.status_curso %></p>
          <% end %>
        </div>

        <ul class="list-unstyled components">  

          <% if current_usuario.perfil == 'Gestor' %>
            <%= render 'controle/gestor' %>
          <% end %>

          <% if current_usuario.perfil != 'Gestor' and !@perfil %>
            <li class="nav-item">
              <br>
              <h3 class="agile"><%= link_to @current_usuario.curso_atual, class: "nav-link text-center" do %><i class="fa fa-university fa-lg"> </i> Curso<% end %></h3>
            </li>
            <li class="nav-item">
              <%= link_to " Detalhes do curso", descricao_path(id: @current_usuario.curso_atual), {class: "fa fa-info-circle fa-sm nav-link"} %>
            </li>
          <% end %>

          <% if @perfil and @perfil.perfil == 'Aluno' %>
            <%= render 'controle/aluno' %>
          <% end %>

          <% if @perfil and @perfil.perfil == 'Professor' %>
            <%= render 'controle/professor' %>
          <% end %>

        </ul>

      </nav>

      <div id="content-wrapper">

        <div class="container-fluid">
           <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <% if usuario_signed_in? %>
            <div class="row"> 
              
              <% if current_usuario.perfil == 'Gestor'%>
                <div class="col-md-12 col-sm-12">
                  <%= yield %>
                </div>
              <% else %>
                <div class="col-md-10 col-sm-10">
                  <% if current_usuario.curso_atual.ativo? and @perfil.status_curso != 'Inscrição Cancelada' %>
                    <%= yield %>
                  <% else %>
                    <div class="alert alert-danger"> 
                      <p>Este curso não está mais disponível. Em caso de dúvidas, entre em contato com o administrador do sistema.</p>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-2 col-sm-2 menu_lateral">
                  <div class="sidebar-header">
                    <ul class="list-unstyled components">  
    
                      <%= render 'controle/menu_direito' %>
                    </ul>
                  </div>
                </div>
              <% end %>
                
            </div>
          <%else%>
            <div class="row"> 
                <%= yield %>
            </div>
          <%end%>
        </div>
        <!-- /.container-fluid -->


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © MPET - IFFluminense 2019</span>
            </div>
          </div>
        </footer>
        
      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->  
         

  </body>
</html>
