<!DOCTYPE html>
<html>
  <head>
    <title>Ava</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min'  %>
    <% %w(bootstrap.min  application).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if usuario_signed_in? %>
      <%= link_to edit_usuario_registration_path, @id => :user_id, class: 'btn btn-default' do %>Atualizar Dados<% end %>
      <%= link_to destroy_usuario_session_path, :method => :delete, class: 'btn btn-danger' do %>Sair<% end %>
    <% else %>
      <form class="form-signin">
       
      
          <div class="text-center mb-4">
            <%= image_tag ("coelho2.png"), class: "mb-4 img-responsive", width: "100", height: "100" %>
            <h1 class="h3 mb-3 font-weight-normal">Agile</h1>
          </div>   
          <%= yield %>
    </form> 
    <% end %>

      
  </body>
</html>
