<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>AGILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% %w(bootstrap.min sidebar template_cursos font-awesome.min application select2).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= javascript_include_tag 'application', "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag 'jquery-ui.min'  %>
    <%= javascript_include_tag 'bootstrap.min'  %>
    <%= javascript_include_tag 'jquery.maskedinput.min'  %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  </head>
  <% if @perfil %>
    <body id="page-top" style=" background-image: url(<%= rails_blob_url(@current_usuario.curso_atual.tema_curso.imagem) %>); background-repeat: no-repeat; background-size: cover; color: <%= @current_usuario.curso_atual.tema_curso.cor_texto %>">
  <% else %>
    <body>
  <% end %>

  <div class="d-flex" id="wrapper">
    

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg">
        <%= image_tag ("coelho2.png"), class: "img-responsive", width: "35", height: "35" %>
        <a class="navbar-brand mr-1" href="/">AGILE</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-dark"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to faq_agile_path, class: 'nav-link' do %>FAQ<% end %>
            </li>
            <li class="nav-item">
              <%= link_to contato_path, class: 'nav-link' do %>Contato<% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <% if usuario_signed_in? %> 
              <li class="nav-item">
                <%= link_to edit_usuario_registration_path, @id => :usuario_id, class: 'nav-link' do %>Atualizar Dados<% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_usuario_session_path, :method => :delete, class: 'nav-link' do %>Sair<% end %>
              </li>
            <% end %>
            <% if admin_signed_in? %>
              <%= link_to destroy_admin_session_path, :method => :delete, class: 'nav-link' do %>Sair<% end %>
            <% end %>
            
          </ul>
        </div>
      </nav>

      <div class="container-fluid">

        <% if usuario_signed_in? or admin_signed_in? %>
          <div class="row">
            <% if @perfil %>
              <div class="col-md-2 col-sm-2" style="background-color: <%= @current_usuario.curso_atual.tema_curso.cor_fundo %>;">
              <!-- Sidebar -->
              
                <nav id="sidebar" class="sidebar navbar-nav" >
                  <nav id="sidebar" class="sidebar navbar-nav">
                    <div class="sidebar-header sidebar-avatar">

                      <% if @perfil.avatar %>
                        <p class="list-group-item text-center"><%= image_tag @perfil.avatar.imagem, class: "img-fluid img-responsive" %></p>
                      <% else %>
                        <p class="list-group-item text-center"><%= image_tag "missing.png", class: "img-responsive img-thumbnail" %></p>
                      <% end %>
                      <p class="list-group-item text-center perfil"> <%= link_to @perfil.nickname, @perfil %></p>
                      <% if @perfil.perfil == 'Aluno' %>
                        <p class="list-group-item text-center perfil"><label>XP:</label> <%= formata_pontos(@perfil.pontos_experiencia) %></p>
                        <p class="list-group-item text-center perfil"><label>Nível:</label> <%= @perfil.nivel.nome %></p>
                      <% end %>
                      <% if @perfil.grupo_curso %>
                        <p class="list-group-item text-center perfil"><label>Equipe:</label> <%= link_to @perfil.grupo_curso.nome_curso, equipe_url %></p>
                        <% if @perfil.perfil == 'Aluno' %>
                          <p class="list-group-item text-center perfil"><label>XP Médio da Equipe:</label> <%= formata_pontos(@perfil.grupo_curso.pontuacao_media) %></p>
                          <p class="list-group-item text-center perfil"><label>Aproveitamento:</label> <%= formata_pontos(@perfil.porcentagem_aprovacao) %>%</p>
                        <% end %>
                      <% else %>
                        <p class="list-group-item text-center perfil"><%= link_to 'Escolher Equipe', escolher_equipe_url(id: @perfil.id), class: 'text-danger' %></p>
                      <% end %>
                      <p class="list-group-item text-center perfil"><label>Status:</label> <%= @perfil.status_curso %></p>
                    </div>
            <% else %>
                <div class="col-md-2 col-sm-2 color-sidebar ">
                  <nav id="sidebar" class="sidebar navbar-nav">
                    
            <% end %>
                  <ul class="list-unstyled components">  

                    <% if admin_signed_in? %>
                      <%= render 'controle/gestor' %>
                    <% end %>

                    <% if current_usuario and !@perfil %>
                      <li class="nav-item">
                        <%= link_to " Detalhes do curso", descricao_path(id: @current_usuario.curso_atual), {class: "fa fa-info-circle fa-sm nav-link text-light"} %>
                      </li>
                    <% end %>

                    <% if current_usuario and @perfil and @perfil.perfil == 'Aluno' %>
                      <%= render 'controle/aluno' %>
                    <% end %>

                    <% if current_usuario and @perfil and @perfil.perfil == 'Professor' %>
                      <%= render 'controle/professor' %>
                    <% end %>

                  </ul>
                </nav>
              <!-- /#sidebar-wrapper -->
            </div>

            <% if current_admin %>
              <div class="col-md-10 col-sm-10">
                <% if notice %>
                  <p class="alert alert-success"><%= notice %></p>
                <% end %>
                <% if alert %>
                  <p class="alert alert-danger"><%= alert %></p>
                <% end %>
                <%= yield %>
                <br>
              </div>
            <% else %>

              <div class="col-md-8 col-sm-8">
                <% if current_usuario.curso_atual.ativo? %>
                  <% if @perfil and @perfil.status_curso == 'Inscrição Cancelada' %>
                    <div class="alert alert-danger"> 
                      <p>Você cancelou sua inscrição neste curso!</p>
                    </div>
                  <% else %>
                    <% if notice %>
                      <p class="alert alert-success"><%= notice %></p>
                    <% end %>
                    <% if alert %>
                      <p class="alert alert-danger"><%= alert %></p>
                    <% end %>
                    <%= yield %>
                    <br>
                  <% end %>
                <% else %>
                  <div class="alert alert-danger"> 
                    <p>Este curso não está mais disponível. Em caso de dúvidas, entre em contato com o administrador do sistema.</p>
                  </div>
                <% end %>
              </div>

              <div class="col-md-2 col-sm-2 menu_lateral">
                <div class="sidebar-header">
                  <ul class="list-unstyled components">  
                    <%= render 'controle/menu_direito' %>
                  </ul>
                </div>
              </div>

            <% end %>
               
          </div> <!-- /#row -->
        <%else%>
          <div class="row"> 
              <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->  
  <!-- Sticky Footer -->
  <footer class="fixed-bottom bg-light">
    <div class="container">
      <div class="copyright text-center">
        <span>Copyright © MPET - IFFluminense 2019</span>
      </div>
    </div>
  </footer>
         
  </body>
</html>
