<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>AGILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% %w(bootstrap.min sidebar template_cursos font-awesome.min select2 application).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= javascript_include_tag 'application'%>
    
    <%= javascript_include_tag 'jquery-ui.min'  %>

    <%= javascript_include_tag 'bootstrap.min'  %>
    <%= javascript_include_tag 'jquery.maskedinput.min'  %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  </head>
  <% if @perfil %>
    <body id="page-top" style=" background-image: url(<%= rails_blob_url(@current_usuario.curso_atual.tema_curso.imagem) %>); background-repeat: no-repeat; background-size: cover; color: <%= @current_usuario.curso_atual.tema_curso.cor_texto %>">
  <% else %>
    <body>
  <% end %>

  <div class="d-flex" id="wrapper">
    

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg">
        <%= image_tag ("coelho2.png"), class: "img-responsive", width: "35", height: "35" %>
        <a class="navbar-brand mr-1" href="/">AGILE</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-dark"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to faq_agile_path, class: 'nav-link' do %>FAQ<% end %>
            </li>
            <li class="nav-item">
              <%= link_to contato_path, class: 'nav-link' do %>Contato<% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <% if usuario_signed_in? %> 
              <li class="nav-item">
                <%= link_to edit_usuario_registration_path, @id => :usuario_id, class: 'nav-link' do %>Atualizar Dados<% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_usuario_session_path, :method => :delete, class: 'nav-link' do %>Sair<% end %>
              </li>
            <% end %>
            <% if admin_signed_in? %>
              <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="userDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="mr-2 d-none d-lg-inline text-light"><%= current_admin.nome %></span>
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-primary"
                      aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <p class="menu"><%= link_to "Atualizar dados", destroy_admin_session_path, :method => :delete, class: 'fa fa-pencil-square-o fa-sm text-light' %></p>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      
                      <p class="menu"><%= link_to "Sair", destroy_admin_session_path, :method => :delete, class: 'fa fa-sign-out fa-sm text-light' %></p>
                    </a>
                  </div>
              </li>
            <% end %>
            
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <% if admin_signed_in? %>
            <%= render 'controle/gestor' %>
          <% end %>

          <% if usuario_signed_in? %>
            
            <% if @perfil %>
              <div class="col-md-2 col-sm-2" style="background-color: <%= @current_usuario.curso_atual.tema_curso.cor_fundo %>;">
                <!-- Sidebar -->
                <% if @perfil.perfil == 'Professor' %>
                  <%= render 'controle/professor' %>
                <% end %>

                <% if @perfil.perfil == 'Aluno' %>
                  <%= render 'controle/aluno' %>
                <% end %>
              </div>

              <div class="col-md-8 col-sm-8">
                <% if current_usuario.curso_atual.ativo? %>
                  <% if @perfil and @perfil.status_curso == 'Inscrição Cancelada' %>
                    <div class="alert alert-danger"> 
                      <p>Você cancelou sua inscrição neste curso!</p>
                    </div>
                  <% else %>

                    <% if notice %>
                      <p class="alert alert-success"><%= notice %></p>
                    <% end %>
                    <% if @notificacao %>
                      <p class="alert alert-primary"><b>Última notificação (<%= @notificacao.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>):</b> <%= @notificacao.texto.html_safe %></p>
                    <% end %>
                    <% if alert %>
                      <p class="alert alert-danger"><%= alert %></p>
                    <% end %>
                    <%= yield %>
                    <br>
                    
                  <% end %>
                <% else %>
                  <div class="alert alert-danger"> 
                    <p>Este curso não está mais disponível. Em caso de dúvidas, entre em contato com o administrador do sistema.</p>
                  </div>
                <% end %>
              </div>

              <div class="col-md-2 col-sm-2 menu_lateral">
                <div class="sidebar-header">
                  <ul class="list-unstyled components">  
                    <%= render 'controle/menu_direito' %>
                  </ul>
                </div>
              </div>
            <% else %>
              <div class="col-md-10 offset-md-1 col-sm-10">
                <%= yield %>
                <br>
                <br>
              </div>
            <% end %>
          <% end %>
  
        </div> <!-- /#row -->   
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->  
  <!-- Sticky Footer -->
  <footer class="fixed-bottom bg-light">
    <div class="container">
      <div class="copyright text-center">
        <span>Copyright © MPET - IFFluminense 2019</span>
      </div>
    </div>
  </footer>
         
  </body>
</html>
