<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>AGILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% %w(bootstrap.min sb-admin template_cursos font-awesome.min application).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery-3.3.1.min'  %>
    <%= javascript_include_tag 'bootstrap.min'  %>
    <%= javascript_include_tag 'sb-admin'  %>
    <%= javascript_include_tag 'jquery.maskedinput.min'  %>


  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand static-top">
      <%= image_tag ("coelho2.png"), class: "img-responsive", width: "35", height: "35" %>
      <a class="navbar-brand mr-1" href="/">AGILE</a>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-12">
        <% if usuario_signed_in? %>
          <li class="nav-item">
            <%= link_to edit_usuario_registration_path, @id => :usuario_id, class: 'nav-link' do %>Atualizar Dados<% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_usuario_session_path, :method => :delete, class: 'nav-link' do %>Sair<% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        <% end %>
      </ul>

    </nav>
    <div id="wrapper">
      <nav id="sidebar" class="sidebar navbar-nav">
        
        <div class="sidebar-header">          
          <p class="list-group-item text-center"> Menu</p>
        </div>

        <ul class="list-unstyled components"> 
          <li class="nav-item">
            <a class="nav-link" href="/cursos"> <i class="fa fa-university fa-lg"></i> Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tema_cursos"> <i class="fa fa-paint-brush fa-lg"></i> Temas dos Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/badges"> <i class="fa fa-certificate fa-lg"></i> Bagdes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grupos"> <i class="fa fa-user-circle fa-lg"></i> Grupos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/niveis"> <i class="fa fa-level-up fa-lg"></i> Níveis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artefatos"> <i class="fa fa-object-group fa-lg"></i> Artefatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/avatares"> <i class="fa fa-user-secret fa-lg"></i> Avatares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios"> <i class="fa fa-users fa-lg"></i> Usuarios</a>
          </li>
        </ul>

      </nav>

      <div id="content-wrapper">

        <div class="container-fluid">
           <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <% if usuario_signed_in? %>
            <div class="row"> 
              <div class="col-md-12 col-sm-10">       
                <%= yield %>
              </div>
            </div>
          <%else%>
            <div class="row"> 
                <%= yield %>
            </div>
          <%end%>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © MPET - IFFluminense 2018</span>
            </div>
          </div>
        </footer>
        

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->     

  </body>
</html>
