<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>AGILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% %w(bootstrap.min sb-admin application).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery-3.3.1.min'  %>
    <%= javascript_include_tag 'bootstrap.min'  %>
    <%= javascript_include_tag 'sb-admin'  %>
    <%= javascript_include_tag 'jquery.maskedinput.min'  %>


  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand static-top">
      <%= image_tag ("coelho2.png"), class: "img-responsive", width: "35", height: "35" %>
      <%=link_to "AGILE", root_url, class: "navbar-brand mr-1" %>
      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-12">
        <% if usuario_signed_in? %>
  	      <li class="nav-item">
  	        <%= link_to edit_usuario_registration_path, @id => :usuario_id, class: 'nav-link' do %>Atualizar Dados<% end %>
  	      </li>
  	      <li class="nav-item">
  	        <%= link_to destroy_usuario_session_path, :method => :delete, class: 'nav-link' do %>Sair<% end %>
  	      </li>
        <%else%>
          <li class="nav-item">
            <%= link_to sobre_path, @id => :usuario_id, class: 'nav-link' do %>Sobre<% end %>
        <%end%>
      </ul>

    </nav>

    <div id="wrapper">
      <div id="content-wrapper">

        <div class="container-fluid">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
			<div class="row"> 
			  <div class="col-md-12 col-sm-10">       
			    <%= yield %>
			  </div>
			</div>
        </div>
        <!-- /.container-fluid -->
		<footer class="fixed-bottom bg-light">
		<div class="container">
		  <div class="copyright text-center">
		    <span>Copyright © MPET - IFFluminense 2018</span>
		  </div>
		</div>
		</footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->   

  </body>
</html>
