<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>AGILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <% %w(bootstrap.min metisMenu sb-admin-2 font-awesome.min application).each do |asset| %>
        <%= stylesheet_link_tag asset %>
    <% end %>

    <%= javascript_include_tag 'jquery.min'  %>
    <%= javascript_include_tag 'bootstrap.min'  %>
    <%= javascript_include_tag 'metisMenu.min'  %>
    <%= javascript_include_tag 'sb-admin-2'  %>
    <%= javascript_include_tag 'application'  %>


  </head>

  <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand img-responsive" ><%= image_tag ("coelho2.png"), width: "35", height: "35" %></a>
                <a class="navbar-brand" href="/">AGILE</a> 
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><%= link_to edit_usuario_registration_path, @id => :usuario_id, class: "fa fa-user fa-fw" do %> Configurações<% end %>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to destroy_usuario_session_path, :method => :delete, class:"fa fa-sign-out fa-fw" do %>Sair<% end %>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

 
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                
                <!-- /.panel -->
                <div class="panel">
                    <% if notice %>
                        <p class="alert alert-success"><%= notice %></p>
                    <% end %>
                    <% if alert %>
                        <p class="alert alert-danger"><%= alert %></p>
                    <% end %>
                    <%= yield %>
                    
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
            <div class="push"></div>
        </div>
        <!-- /.row -->
     

    </div>
     <!-- Footer -->
    <div class="footer">
        <p >Copyright © MPET - IFFluminense 2018</p>
    </div>
  </body>
</html>
